/* Grid < 768px */
@media screen and (max-width: 48rem) {
  .lgd-row__one-quarter,
  .lgd-row__one-third,
  .lgd-row__one-half,
  .lgd-row__two-thirds,
  .lgd-row__three-quarters,
  .lgd-row__full,
  .localgov-services-page.node--with-restricted-width
  {
    width: 100%;
  }
}

/* Over-ride LGD default grid to remove staggered margins on nested grid elements */
.lgd-row > div[class*="lgd-row"] {
  margin-right: 0;
  margin-left: 0;
}
