{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{#
We are setting a variable here for the parent entity. We can then use that to
check what heading level is set in the parent
Using this, we can then set our heading to be one level below the parent's heading.
#}

{% set parent = paragraph._referringItem.parent.parent.entity %}
{% set parent_heading_level = parent.localgov_heading_level.value %}

{% if parent_heading_level %}
  {% if parent_heading_level == 'h2' %}
    {% set heading_level = 'h3' %}
    {% set subheading_level = 'h4' %}
  {% elseif parent_heading_level == 'h3' %}
    {% set heading_level = 'h4' %}
    {% set subheading_level = 'h5' %}
  {% elseif parent_heading_level == 'h4' %}
    {% set heading_level = 'h5' %}
    {% set subheading_level = 'h6' %}
  {% elseif parent_heading_level == 'h5' %}
    {% set heading_level = 'h5' %}
    {% set subheading_level = 'h6' %}
  {% else %}
  {% endif %}
{% else %}
  {# If parent_heading_level is not set, default to H2 #}
  {% set heading_level = 'h2' %}
  {% set subheading_level = 'h3' %}
{% endif %}

{%
  set classes = [
  'localgov-contact',
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished'
]
%}

<div{{ attributes.addClass(classes) }}>

  {# Begin Contact Containers #}
  <div class="lgd-row paragraph__contact-containers">

    {% if paragraph.localgov_contact_heading.value %}

      <div class="lgd-row__full localgov-contact-headings">
      {% if paragraph.localgov_contact_heading.value %}
        <{{ heading_level }} class="localgov-contact-heading">
          {{ paragraph.localgov_contact_heading.value|trim }}
        </{{heading_level }}>
      {% endif %}

      {% if paragraph.localgov_contact_subheading.value %}
        <{{ subheading_level }} class="localgov-contact-subheading">
          {{ paragraph.localgov_contact_subheading.value }}
        </{{subheading_level }}>
      {% endif %}
      </div>

    {% endif %}

    {# Begin Contact First #}
    {% if paragraph.localgov_contact_email.value or paragraph.localgov_contact_phone.value or paragraph.localgov_contact_minicom.value %}

    <div class="lgd-row__one-half paragraph__contact-container paragraph__contact-container--first">
      <ul class="paragraph__contact-list">
        {% if paragraph.localgov_contact_email.value %}
          <li class="paragraph__contact-list-item bg-icon bg-icon__envelope">
            <a href="mailto:{{ paragraph.localgov_contact_email.value }}">{{ 'Send a message'|t }}</a>
          </li>
        {% endif %}

        {% if paragraph.localgov_contact_phone.value %}
          <li class="paragraph__contact-list-item bg-icon bg-icon__phone">
            {{ paragraph.localgov_contact_phone.value }}
          </li>
        {% endif %}

        {% if paragraph.localgov_contact_mobile.value %}
          <li class="paragraph__contact-list-item bg-icon bg-icon__phone">
            {{ paragraph.localgov_contact_mobile.value }}
          </li>
        {% endif %}

        {% if paragraph.localgov_contact_minicom.value %}
          <li class="paragraph__contact-list-item bg-icon bg-icon__minicom">
            {{ paragraph.localgov_contact_minicom.value }} (Minicom)
          </li>
        {% endif %}

      </ul>
    </div>
    {% endif %}
    {# End Contact First #}

    {# Begin Contact Second #}
    <div class="lgd-row__one-half paragraph__contact-container paragraph__contact-container--second">
      {% if paragraph.localgov_contact_address.address_line1 %}
        <{{ subheading_level }} class="paragraph__contact-title">{{ 'Address'|t }}</{{ subheading_level }}>
        {{ content.localgov_contact_address }}
      {% endif %}
    </div>
    {# End Contact Second #}
  </div>
  {# End Contact Containers #}

  {% if paragraph.localgov_contact_office_hours.value %}
    <div class="paragraph__opening-times">
    <{{ subheading_level }}>{{ 'Opening times'|t }}</{{ subheading_level }}>
    {{ content.localgov_contact_office_hours }}
    </div>
  {% endif %}

  {% if paragraph.localgov_contact_location.value %}
    <{{ subheading_level }}>{{ 'Map'|t }}</{{ subheading_level }}>
    {{ content.localgov_contact_location }}
  {% endif %}

  {# Begin Contact Socials and a11y number #}
  {% if paragraph.localgov_contact_facebook.value or paragraph.localgov_contact_twitter.value or paragraph.localgov_contact_minicom.value %}

    {% if paragraph.localgov_contact_facebook.value or paragraph.localgov_contact_twitter.value %}
      <{{ subheading_level }}>{{ 'Other ways to contact us'|t }}</{{ subheading_level }}>
      <ul class="service-landing-page__contact-list">

        {% if paragraph.localgov_contact_facebook.value %}
          <li class="service-landing-page__contact-list-item bg-icon bg-icon__facebook">
            <a href="{{ content.localgov_contact_facebook|render|striptags }}">{{ 'Facebook'|t }}</a>
          </li>
        {% endif %}

        {% if paragraph.localgov_contact_twitter.value %}
          <li class="service-landing-page__contact-list-item bg-icon bg-icon__twitter">
            <a href="{{ content.localgov_contact_twitter|render|striptags }}">{{ 'Twitter'|t }}</a>
          </li>
        {% endif %}

      </ul>
    {% endif %}
  {% endif %}
  {# End Contact Socials and a11y number #}

</div>
