{% set link_parts =  title|split('|') %}

<article class="node-teaser">
  <h2 class="h3"><a href="{{ url }}">{{ link_parts[0] }}</a></h2>

  {% if link_parts[1] %}
  <div>
    <p>{{ link_parts[1] }}</p>
  </div>
  {% endif %}
</article>
