{%
  set classes = [
  'lgd-teaser',
  'lgd-teaser--' ~ node.bundle|clean_class,
  'node',
  'node--type-' ~ node.bundle|clean_class,
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
]
%}

{% if localgov_base_use_css %}
  {{ attach_library('localgov_base/teaser') }}
{% endif %}

<article{{ attributes.addClass(classes).removeAttribute('role') }}>

  {#
  We have a generic variable here for {{ teaser_image }}.
  This is because different image fields are used on different
  content types for the teaser. We can use this variable to say
  which field will be used.
  #}
  {% if content.field_media_image %}
    <div class="lgd-teaser__image">
      {{ content.field_media_image }}
    </div>
  {% endif %}

  <div{{ content_attributes.addClass('lgd-teaser__content', 'node__content') }}>

    {{ title_prefix }}
    {% if label and not page %}
      <h2{{ title_attributes.addClass('h3') }}>
        <a href="{{ url }}" rel="bookmark">{{ label }}</a>
      </h2>
    {% endif %}
    {{ title_suffix }}

    {#
    We render the full content variable here, so any new fields added
    are visible.

    @todo figure out how to remove teaser image, date, etc since they
    have different names depending on content type.
    #}
    {{ content.field_title }}
    {{ content.body }}
    {{ content.localgov_news_date }}

    {#
    We have a generic variable here for {{ teaser_date }}.
    This is because different date fields are used on different
    content types for the teaser. We can use this variable to say
    which field will be used.
    #}
    {% if teaser_date %}
      <div class="lgd-teaser__metadata">
        <time datetime="{{ teaser_date_machine_format }}" class="lgd-teaser__metadata-item lgd-teaser__metadata-item--date">
          {{ teaser_date }}
        </time>
      </div>
    {% endif %}
  </div>

</article>
