// Block containing *all* live alert banners
// Death of a notable person stands alone, other banners are stacked

.block-localgov-alert-banner-block {
  article .localgov-alert-banner__inner {
    padding: 1.5625rem 0;
  }
  article:not(.localgov-alert-banner--notable-person) {
    .localgov-alert-banner__inner {
      padding-bottom: 0;
    }
    ~ article .localgov-alert-banner__inner {
      padding-top: 1.25rem;
    }
  }
  article:last-of-type .localgov-alert-banner__inner {
    padding-bottom: 1.5625rem;
  }
}

// Individual banners
.localgov-alert-banner {
  background-color: var(--alert-banner-bg-color);
  color: var(--alert-banner-color);

  a {
    color: var(--color-white);
  }
  &__wrapper {
    max-width: var(--width-container);
  }
  &__inner {
    display: block;
    padding: 1.5625rem 0;

    .alert-banner__close {
      display: inline-block;
      margin-top: 1.5625rem;
      padding: 0;

      button {
        align-items: center;
        border: none;
        display: flex;
        font-size: 0.9375rem;
        font-weight: 600;
        padding: 0;
        text-decoration: underline;

        &:hover {
          background-color: inherit;
          text-decoration-thickness: max(3px, 0.1875rem, 0.12em);
        }

        svg {
          height: 1.5rem;
          margin-right: 1rem;
        }

        &:focus,
        &:active {
          background-color: var(--color-focus);
          box-shadow: 0 -2px var(--color-focus), 0 4px var(--color-black);
          color: var(--color-black);
          text-decoration: none;
          svg path {
            fill: var(--color-black);
          }
        }
      }
    }
  }
  &__title {
    color: var(--alert-banner-color);
    display: inline;
    font-size: 1.0625rem;
    font-weight: 600;
    margin-top: 0;

    &::after {
      content: ' | ';
      font-weight: 400;
    }
  }
  &__content p {
    display: inline;
  }
  &__content p,
  &--content-link {
    font-size: 1.0625rem;
    font-weight: 400;
  }
  &__actions {
    align-items: center;
  }
  &__close {
    &:hover {
      cursor: pointer;
    }
  }

  &__content {
    background-image: url(../assets/images/arrow-right-white.svg);
    background-position: left 0.375rem;
    background-repeat: no-repeat;
    background-size: 1rem;
    padding-left: 2rem;
  }

  .field--name-short-description {
    display: inline;
  }

  &--school-closures {
    .localgov-alert-banner__content {
      background-color: var(--color-primary);
      background-image: none;
      padding: 1rem;
    }

    .localgov-alert-banner__title {
      background-image: var(--icon-warning-circle);
      background-position: left center;
      background-repeat: no-repeat;
      background-size: 1.125rem;
      color: var(--alert-banner-color);
      font-size: 1.25rem;
      font-weight: 700;
      margin-bottom: 0.625rem;
      margin-top: 0;
      padding-left: 1.5rem;

      a {
        text-decoration: none;
      }
    }
    .localgov-alert-banner__content p {

      .school-closures--count {
        font-size: 1.5rem;
        font-weight: 700;
      }

      &.school-closures--link {
        font-size: 1.0625rem;
        font-weight: 700;
        margin-left: 0.5rem;

        a {
          color: var(--color-focus);

          &:focus {
            color: var(--color-black);
          }
        }
      }
    }

  }

  &--notable-person {
    background-color: var(--alert-banner-bg-color-notable-person);
    color: var(--color-white);

    .localgov-alert-banner__content {
      background-image: none;
      padding-left: 0;
    }

    .alert-banner__close button {
      background-color: var(--alert-banner-bg-color-notable-person);
    }
  }
}

@media screen and (max-width: 48rem) {
  .localgov-alert-banner__inner {
    display: flex;
    flex-direction: column;
  }

  .localgov-alert-banner__dismiss {
    margin-top: 1rem;
  }

  .localgov-alert-banner__title {
    display: block;
    margin-bottom: 0;

    &::after {
      content: none;
    }
  }

  .localgov-alert-banner__content p {
    display: block;
    margin-bottom: 0.625rem;

    &.school-closures--link {
      margin-left: 0;
    }
  }

  .localgov-alert-banner__close {
    margin-left: -0.5rem;
    padding: 0.5rem;
  }
}
