button,
input[type=submit],
a.btn,
a.btn.btn-start {
  background-color: var(--button-bg-color);
  border: 0;
  border-bottom: var(--border-large);
  border-bottom-color: var(--button-border-color);
  color: var(--button-text-color);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-bold);
  padding: var(--button-padding-vertical) var(--button-padding-horizontal);
  text-decoration: none;

  &:visited {
    color: var(--button-text-color);
  }

  &:focus {
    background-color: var(--color-focus);
    border-bottom-color: var(--color-black);
    box-shadow: none;
    color: var(--color-black);
    text-decoration: none;
  }

  &:hover {
    background-color: var(--button-bg-color-hover);
    color: var(--button-text-color-hover);
    cursor: pointer;
    text-decoration: none;
  }
}

a.btn.btn-start {
  background-image: var(--icon-chevron-right);
  background-position: 90% center;
  background-repeat: no-repeat;
  background-size: 0.75rem auto;
  display: inline-block;
  margin: 1rem 0;
  padding: 1.1875rem 2.75rem 1.1875rem var(--button-padding-horizontal);

  &:focus {
    background-color: var(--color-focus);
    background-image: var(--icon-chevron-right-black);
    color: var(--color-black);
  }

  &::after {
    content: none;
    margin: 0;
  }

  @media screen and (max-width: 48rem) {
    padding: 0.875rem 2.75rem 0.875rem var(--button-padding-horizontal);
  }
}
