.callout {
  color: var(--color-white);
  font-size: var(--font-size-large);
  font-weight: bold;
  padding: 1.5rem;
  text-align: left;

  a {
    color: var(--color-white);
    text-decoration-thickness: 0.0625rem;

    &:visited,
    &:hover {
      color: var(--color-focus);
    }

    &:hover {
      text-decoration-thickness: 0.1875rem;
    }

    &:focus {
      background-color: var(--color-focus);
      color: var(--color-black);
    }
  }

  &-yellow {
    color: var(--color-black);

    a,
    a:visited,
    a:hover {
      color: var(--color-black);
    }

    a:focus {
      background-color: var(--color-white);
    }
  }
}

/* Callout primary bg and link colour */
.callout-primary {
  background-color: var(--color-accent);
}

/* Callout success bg and link colour */
.callout-success {
  background-color: var(--color-success);
}

/* Callout danger bg and link colour */
.callout-danger {
  background-color: var(--color-danger);
}

/* Callout teal bg and link colour */
.callout-teal {
  background-color: var(--color-teal);
}

/* Callout carbon bg and link colour */
.callout-carbon {
  background-color: var(--color-grey-dark);
}

/* Callout yellow bg and link colour */
.callout-yellow,
.callout-yellow a {
  color: var(--color-grey-dark);
  background-color: var(--color-yellow);
}
