.block-localgov-directories-channel-search-block {
  font-size: var(--font-size-h4);
}

.view-localgov-directory-channel {
  .lgd-teaser__content {
    border-bottom: 1px solid var(--color-gray);
    padding-bottom: 0.625rem;
  }
}

.localgov-search-channel {
  display: none;
}

.field--name-postal-address {
  .field__label {
    font-size: var(--font-size-h5);
    margin-bottom: 1rem;
  }
}

.localgov-directories-venue__enquiries {
  margin-top: var(--spacing-mega);

  h3 {
    margin-bottom: 1rem;
    margin-top: 0;
  }

  ul {
    padding-left: 0;
  }
}

.field--name-localgov-directory-files {
  margin-bottom: 1rem;
}

.view-localgov-geo-field-multiple-embed {
  margin-bottom: 1rem;
}