.election__content h2,
.view-election-results-timeline .view-header h2,
.view-election-results-vot .view-header h2,
.view-electoral-candidates .view-header h2 {
  color: var(--color-white);
  font-size: var(--font-size-medium);
  margin-top: 0;
}

.view-election-results-vot table,
.view-electoral-candidates table {
  display: table;
}