.lgd-footer__pre-footer {
  padding: 0;
}

.lgd-footer__footer {
  color: var(--color-white);
  padding: 3rem var(--spacing-padding-horizontal);

  .lgd-row__full {
    margin-left: 0.9375rem !important;
  }

  p, ul {
    font-size: 0.9375rem;
    line-height: 1.8;
  }

  a {
    color: var(--color-white);

    &:focus {
      color: var(--color-black);
    }
  }

  .menu--footer {
    display: flex;
    list-style: none;
    margin-bottom: 2rem;
    padding-left: 0;

    li:not(:first-child) {
      margin-left: 2rem;
    }
  }
}

@media screen and (max-width: 48rem) {
  .lgd-footer__footer {
    padding: 3.75rem 1rem;

    .menu--footer {
      flex-direction: column;
      margin-bottom: 2.5rem;

      li:not(:first-child) {
        margin-left: 0;
        margin-top: 0.5rem;
      }
    }
  }
}

/* Move the Editoria11y accessibility checker widget to the left side of screen */
ed11y-element-panel {left:1%;right:unset;}
