/* On larger screens restrict form width to 2/3 */
@media screen and (min-width: 48rem) {
  .webform-submission-form {
    width: calc((100% / 3 * 2) - 1rem);
  }
}

/* Drupal login form */
.user-login-form {
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    border: 0.0625rem solid var(--color-black);
    border-radius: 0;
    font-family: var(--font-family);
    font-size: var(--font-size-medium);

    &:focus {
      outline: 0.1875rem solid var(--color-focus);
    }
  }
}

/* Fieldsets */
fieldset,
.fieldgroup {
  padding: 0;
  border: none;
}

fieldset {
  legend {
    font-size: 1.75rem;
    padding: 0;
    margin: 0 0 0.75rem 0;
    font-weight: 400;

    @media screen and (max-width: 48rem) {
      font-size: 1.5rem;
    }
  }
}

/* Question labels (avoiding option labels) */
.webform-submission-form .form-item label:not(.option):not(.button) {
  font-weight: 500;
  font-size: 1.25rem;
  margin: 2rem 0 0.7rem;
  @media screen and (max-width: 48rem) {
    font-size: 1.125rem;
  }
}

/* Temporary until localgov_base includes URL elements */
.form-item input[type="url"] {
  width: 100%;
  padding: var(--input-padding-vertical) var(--input-padding-horizontal);
  border: var(--border);
  border-color: var(--input-border-color);
  background-color: var(--input-bg-color);
  font-size: var(--font-size-medium);
}

/* Placeholders */
input::placeholder {
  color: var(--color-placeholder);
}

/* Element borders */
.form-item {
  input[type="text"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="url"],
  input[type="email"],
  input[type="number"],
  textarea,
  select {
    border: 2px inset #0b0c0c;
    border-radius: 0;
    font-family: var(--text-input-font-family);

    &:focus {
      box-shadow: #0b0c0c inset 0 0 0 1px;
      outline: 0.1875rem solid #fdd24f;
      outline-offset: 0;
    }
  }
}

/* Textarea */
.form-item textarea {
  resize: vertical;
}

/* Checkboxes */
.form-item input[type="checkbox"],
.form-checkboxes input[type="checkbox"],
.facet-item input[type="checkbox"] {
  width: 40px;
  height: 40px;
  position: absolute;
  z-index: 1;
  top: -2px;
  left: -2px;
  margin: 0;
  cursor: pointer;
  opacity: 0;

  + label {
    margin-left: 30px;
    padding: 0 15px 5px;
    display: inline-block;
    cursor: pointer;
    touch-action: manipulation;

    &::before {
      width: 30px;
      height: 30px;
      position: absolute;
      top: 0;
      left: 0;
      box-sizing: border-box;
      content: "";
      border: 2px solid var(--checkbox-select-outline-color);
      background: transparent;
    }

    &::after {
      color: var(--color-info);
      top: 8px;
      left: 5px;
      width: 20px;
      height: 10px;
      position: absolute;
      box-sizing: border-box;
      content: "";
      transform: rotate(-45deg);
      opacity: 0;
      border: solid;
      border-width: 0 0 5px 5px;
      border-top-color: transparent;
      background: transparent;
    }
  }

  &:hover + label, :focus + label {
    text-decoration: none;
  }

  &:focus + label:after {
    color: var(--color-black);
    opacity: 1
  }

  &:checked + label:after {
    opacity: 1
  }
}

.form-item input[type="checkbox"]:focus + label:before {
  border-width: 4px;
  box-shadow: 0 0 0 3px var(--checkbox-select-focus-color);
}

/* Descriptions */
.form-item .description,
.webform-element-description {
  padding: 0 0 0.7rem;
  border: none;
  background: transparent;
  color: var(--color-gray-dark);
  font-size: var(--font-size-medium);

  @media screen and (max-width: 48rem) {
    font-size: 1rem;
  }
}

/* Details */
form details {
  margin-bottom: 3rem;

  summary {
    text-decoration: underline;
    color: var(--color-link);
    font-size: var(--font-size-medium);
    width: fit-content;

    @media screen and (max-width: 48rem) {
      font-size: 1rem;
    }

    &:focus {
      transition: --transition-time;
      text-decoration: none;
      color: var(--color-black);
      outline: 3px solid transparent;
      background-color: var(--color-focus);
      -webkit-box-shadow: 0 -2px var(--color-focus), 0 4px var(--color-black);
      box-shadow: 0 -2px var(--color-focus), 0 4px var(--color-black);
    }

    &:hover {
      cursor: pointer;
      text-decoration-thickness: max(3px, 0.1875rem, 0.12em);
    }

    &::marker {
      font-size: 1.3rem;
      color: var(--color-link);
    }
  }

  .webform-element-description {
    border-left: 4px solid var(--color-gray);
    padding: 1rem 1.25rem;
    font-size: var(--font-size-medium);

    @media screen and (max-width: 48rem) {
      font-size: 1rem;
    }
  }
}

/* Textarea & select fonts */
.form-item {
  textarea, select {
    font-family: var(--font-primary);
  }
}

/* File upload */
.form-managed-file {
  .webform-file-button {
    color: var(--color-black);
    background-color: #f9f9f9;
    border: 1px solid #505a5f;
    text-decoration: none;
    font-weight: normal;
    width: fit-content;
    padding: 0.3rem 0.75rem;
    border-radius: 3px;

    &:hover {
      background-color: #eaeaea;
      font-weight: normal;
      color: var(--color-black);
      border: 1px solid #505a5f;
      text-decoration: none;
    }
  }

  &:focus-within .webform-file-button {
    background-color: #eaeaea;
    font-weight: normal;
    color: #0b0c0c;
    text-decoration: none;
    box-shadow: #0b0c0c inset 0 0 0 1px;
    /* var = black*/
    outline: 0.1875rem solid #fdd24f;
    /* var = focus*/
    outline-offset: 0;
  }

}

/* Messages */
.messages {
  padding: 1.25rem 1.25rem 1.25rem 4.375rem;
  border: none;
  background-color: var(--color-white);
  background-position: 20px 20px;
  background-repeat: no-repeat;
  background-size: 1.875rem;
  font-size: var(--font-size-medium);
  font-weight: 400;
  box-shadow: none !important;

  &.messages--info {
    background-color: var(--color-accent);
    background-image: var(--icon-info-circle);
    color: var(--color-white);
    background-position: 20px 20px !important;
  }

  &.messages--status {
    background-color: var(--color-success);
    background-image: var(--icon-check-circle);
    color: var(--color-white);
  }

  &.messages--error {
    background-color: var(--color-danger);
    background-image: var(--icon-exclamation-circle);
    color: var(--color-white);
  }

  &.messages--warning {
    background-color: var(--color-danger);
    background-image: var(--icon-exclamation-circle);
    color: var(--color-white);
  }

  &.messages--info a,
  &.messages--status a,
  &.messages--error a,
  &.messages--warning a {
    color: var(--color-white);
  }
}

/* Terms of service */
.webform-terms-of-service-details {
  padding: 1.5rem 1.5rem;
  border: 0;
  border-left: 4px solid var(--color-primary);
  background: var(--color-primary-tint);
  color: var(--color-black);
}

/* Validation */
.form-item--error {
  margin-bottom: 1rem;
  border-left: 4px solid var( --color-danger);
  padding-left: 1.5rem;

  &-message {
    font-weight: 700;
    font-size: var(--font-size-medium);
    color: var( --color-danger);
    margin: 0.75rem 0 0 0;

    @media screen and (max-width: 48rem) {
      font-size: 1rem;
    }
  }
}

/* Page x of y labels */
.webform-progress__status {
  text-align: left;
  font-size: 1.25rem;
  color: #505a5f;
  margin: 1rem 0;

  @media screen and (max-width: 48rem) {
    font-size: var(--font-size-medium);
  }
}

/* Radio Buttons
  This radio styling is amended CSS from the gov.uk design system:
  - https://design-system.service.gov.uk/components/radios/

  We are adding a .form-radios class around each of these here to make sure
  this only affects radios created by Drupal. If we don't, the position absolute
  can have very unwanted effects.

  If you need to create custom radios, make sure you have the same class
  wrapping them.
*/

.webform-type-radios .form-item,
.webform-type-webform-radios-other .form-item-radios-other--radios {
  position: relative;
  display: block;
  clear: left;
  min-height: 40px;
  margin-bottom: 10px;
  padding-left: 40px;
}
.webform-type-radios .form-item input,
.webform-type-webform-radios-other .form-item-radios-other--radios input {
  position: absolute;
  z-index: 1;
  top: -2px;
  left: -2px;
  width: 44px;
  height: 44px;
  margin: 0;
  cursor: pointer;
  opacity: 0;
}
.webform-type-radios .form-item label,
.webform-type-webform-radios-other .form-item-radios-other--radios label {
  display: inline-block;
  margin-bottom: 0;
  padding: 8px 15px 5px;
  cursor: pointer;
  touch-action: manipulation;
}
.webform-type-radios .form-item [type="radio"] + label::before,
.webform-type-webform-radios-other .form-item [type="radio"] + label::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  content: "";
  border: 2px solid var(--radio-select-outline-color);
  border-radius: 50%;
  background: transparent;
}
.webform-type-radios .form-item [type="radio"] + label::after,
.webform-type-webform-radios-other .form-item [type="radio"] + label::after {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 0;
  height: 0;
  content: "";
  opacity: 0;
  border: 10px solid currentColor;
  border-radius: 50%;
  background: currentColor;
}
.webform-type-radios .form-item [type="radio"]:focus + label::before,
.webform-type-webform-radios-other  .form-item [type="radio"]:focus + label::before {
  box-shadow: 0 0 0 4px var(--radio-select-focus-color);
}
.webform-type-radios .form-item input:checked + label::after,
.webform-type-webform-radios-other .form-item input:checked + label::after {
  opacity: 1;
}
.webform-type-radios .form-item:last-child,
.webform-type-radios .form-item:last-of-type {
  margin-bottom: 0;
}
