.path-frontpage {
  main {
    a:focus {
      text-decoration: none !important;
    }
    .lgd-container {
      margin: 0;
      max-width: none;
    }
    .padding-horizontal {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .lgd-region--content {
    padding-bottom: 0;
  }

  .lgd-footer {
    margin-top: 0;
  }

  .lgd-footer__pre-footer {
    background-color: var(--color-gray-light);
  }

  /* Image banner */
  .block-localgov-subsite-banner {
    background-color: var(--color-primary);
    border-bottom: 0.9375rem solid var(--color-primary);
  }

  .banner--primary {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-right-radius: 4rem;
    height: 15.625rem;

    @media (min-width: 62rem) {
      border-bottom-right-radius: 10rem;
      min-height: 18.75rem;
      height: 35vh;
    }
    @media (min-width: 100rem) {
      min-height: 25rem;
      height: 40vh;
    }

    .banner__tint {
      background-color: rgba(0, 0, 0, 0.2);
      background-repeat: no-repeat;
      background-size: cover;
      border-bottom-right-radius: 4rem;
      height: 100%;

      @media (min-width: 62rem) {
        border-bottom-right-radius: 10rem;
      }
    }

    .banner__content {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      height: 100%;
      justify-content: center;
      padding: 0 1rem;

      h1 {
        color: var(--color-white);
        font-size: 2rem;
        text-align: center;
        text-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.63);
        width: 100%;

        @media (min-width: 48rem) {
          font-size: 2.75rem
        }
      }

      #views-exposed-form-localgov-sitewide-search-sitewide-search-page-block {
        display: flex;
        justify-content: center;

        .form-item input {
          border: none;
          height: 3.125rem;
          width: 60vw;

          @media (min-width: 62rem) {
            width: 40vw;
          }
        }

        button {
          height: 3.125rem;
          width: 3.125rem;

          svg {
            width: 1.875rem;
          }
        }
      }
    }
  }

  /* Top task box links */
  .top-tasks .box-links-listing {
    background-color: var(--color-teal-tint);
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    padding: 1.75rem 0;
  }
  .box-links-listing__list {
    align-content: space-around;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1.5rem 0;
    justify-content: space-between;
    margin: 0 !important;
    max-width: var(--width-container);
    padding: 0 1rem;

    @media (max-width: 48rem) {
      gap: 0.6125rem 0.375rem;
    }

    .box-links-listing__list-item {
      flex: 0 0 auto;
      margin-bottom: 0;
      max-width: calc(25% - 1.25rem);
      position: relative;
      width: calc(25% - 1.25rem);

      @media (max-width: 48rem) {
        max-width: calc(50% - 0.375rem);
        width: calc(50% - 0.375rem);
      }

      .box-link {
        border: 0;
        display: flex;
        height: 100%;
        margin-bottom: 0;
        min-height: 5rem;
        @media (max-width: 48rem) {
          min-height: 4.5rem;
        }

        .box-link__title {
          margin: 0;
          padding: 0;
          text-align: center;
          width: 100%;

          a {
            align-items: center;
            background: var(--color-white);
            border-bottom: 0.3125rem solid var(--color-primary);
            border-radius: 0 2.1875rem 0 0;
            color: var(--color-primary);
            display: flex;
            font-size: 1.25rem;
            font-weight: 700;
            height: 100%;
            justify-content: center;
            min-height: auto;
            padding: 0.5rem;
            text-decoration: none;
            width: auto;
            word-break: break-word;

            &:focus {
              background-color: var(--color-focus);
              border-bottom-color: var(--color-black);
              box-shadow: none;
              color: var(--color-black);
            }

            &:hover {
              border-bottom-color: var(--color-black);
              color: var(--color-link-hover);
            }

            @media (max-width: 61.9375rem) {
              font-size: 1.125rem;
            }
          }
        }
      }
    }
  }

  /* Service IA blocks */
  main .home-services {
    margin-top: 2rem;
  }

  .layout--threecol-33-34-33 {
    justify-content: space-between;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    max-width: var(--width-container);
    padding: 0 1rem;

    .layout__region {
      flex: 0 0 auto;
      margin-top: 1rem;
      max-width: calc(33% - 1rem);
      padding: 0;
      width: calc(33% - 1rem);

      @media (max-width: 40rem) {
        margin-top: 0.25rem;
        max-width: 100%;
        width: 100%;
      }
    }

    .layout__region--top,
    .layout__region--bottom {
      display: none;
    }

    @media (max-width: 40rem) {
      margin-bottom: 0;
    }

    .ia-block {

      @media (max-width: 40rem) {
        margin-bottom: 0;
      }

      &__title {
        font-size: 1.375rem;
        font-weight: 700;

        @media (max-width: 40rem) {
          font-size: 1.25rem;
        }

        a {
          color: var(--color-black);
        }
      }

      ul {
        list-style: none;
        padding-left: 0;

        li {
          background-image: url(../assets/images/arrow-right-black.svg);
          background-position: left 0.375rem;
          background-repeat: no-repeat;
          background-size: 1rem;
          padding-left: 1.5rem;

          @media (max-width: 40rem) {
            font-size: 1.0625rem;
          }
        }
      }
    }

    .btn-services {
      background-color: transparent;
      background-image: var(--icon-caret-right);
      background-position: left center;
      background-repeat: no-repeat;
      background-size: 0.625rem auto;
      border-bottom: none;
      color: var(--color-primary);
      font-size: var(--font-size-h5);
      font-weight: 800;
      margin: 1.5rem 0;
      padding-left: 1.5rem;
      text-decoration: underline;

      &:focus {
        background-color: var(--color-focus);
        box-shadow: 0 -2px var(--color-focus), 0 4px var(--color-black);
        color: var(--color-black);
        text-decoration: none;
      }

      &:hover {
        color: var(--color-link-hover);
        cursor: pointer;
        text-decoration-thickness: max(3px, 0.1875rem, 0.12em);
        text-underline-offset: 2px;
      }
    }
  }

  .home-news,
  .home-promos {
    background-color: var(--color-gray-light);
    padding-top: 1rem;

    .layout {
      margin-left: auto;
      margin-right: auto;
      max-width: var(--width-container);
      padding: 0 1rem;

      .layout__region {
        padding: 0;
      }
    }
  }

  /* News */
  .home-news {
    h2 {
      font-size: 2rem;
      font-weight: 700;
      margin-bottom: 1.75rem;

      a {
        color: var(--color-black);
      }
    }

    @media (max-width: 48rem) {
      img {
        float: right;
        margin: 0 0 1rem 1rem;
        width: 30%;
      }
    }

    // NB: First rule is for W&F, second for Cumberland
    // Block embed paragraph type has different machine name between sites
    .paragraph--type--block-to-embed,
    .paragraph--type--block-embed{
      margin-bottom: 0;
    }

    .block-views-blocklocalgov-news-list-block-home-news {
      .view-content {
        display: flex;
        justify-content: space-between;

        @media (max-width: 48rem) {
          display: block;
        }

        .views-row {
          max-width: calc(33% - 1rem);

          @media (max-width: 48rem) {
            max-width: 100%;
            width: 100%;
          }

          article {
            margin-bottom: 2rem;
          }

          h2 {
            font-size: 1.375rem;
            font-weight: 700;
            margin: 1rem 0;

            a {
              color: var(--color-black);
              display: block;
            }

          }

          p {
            font-size: 1.1875rem
          }

          .field--type-datetime {
            color: var(--color-gray-dark);
            font-size: 1rem;
          }
        }
      }
    }

    .more-link a {
      @extend .lgd-action-link;
      font-weight: 600;

      &:focus {
        text-decoration: none !important;
      }
    }
  }

  /* Promos */
  .home-promos {
    padding-bottom: 2rem;
    padding-top: 2rem;

    .layout {
      justify-content: space-between;

      .layout__region--first {
        @media (max-width: 48rem) {
          margin-bottom: 2rem;
        }
      }

      .layout__region--first,
      .layout__region--second {
        background-color: var(--color-white);
        border-radius: 0.5rem 0.5rem 4.6875rem 0.5rem;
        flex: 0 0 auto;
        max-width: calc(50% - 0.5rem);
        padding: 2rem 2rem 1rem;

        @media (max-width: 48rem) {
          max-width: 100%;
          width: 100%;
        }
      }
    }
  }
}

.home-promo {

  h3 {
    font-size: 1.625rem;
    margin-top: 0;
  }

  &--updates .home-promo--content {
    background-image: var(--icon-envelope-open);
    background-position: left 0.5rem;
    background-repeat: no-repeat;
    background-size: 4rem auto;
    min-height: 5rem;
    padding-left: 6rem;
  }
}