@media screen and (min-width: 48rem) {
  .lgd-guides--overview,
  .lgd-guides--page,
  .lgd-prev-next--guides {
    margin-left: calc(var(--spacing) / 2);
    margin-right: calc(var(--spacing) / 2);
    width: calc((100% / 3 * 2) - var(--spacing));
  }

  .lgd-prev-next--guides {
    margin-left: 0;
    margin-right: 0;
  }
}

.lgd-prev-next__list {
  border-top: 1px solid var(--color-gray);
  margin-top: 1.875rem;
  padding-top: 1.875rem;
}

.lgd-prev-next__link--next {
  justify-content: space-between;
}
