.lgd-header {
  padding: 1.25rem 0;

  .lgd-container {
    padding-bottom: 0;
  }

  &__nav--primary {
    display: none;

    @media screen and (min-width: 60.0625rem) {
      display: flex;
      margin-left: 0;
      margin-right: 0;
    }
  }

  .lgd-header__nav--active {
    display: block;
  }
}

.lgd-region--primary-menu {
  @media screen and (max-width: 60rem) {
    width: 100%;
  }
}

.lgd-header__toggle {
  border: none;
  border-radius: 0.25rem;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: var(--line-height);
  padding: 0.375rem var(--spacing-small);

  &:focus {
    background-color: var(--color-focus);
    color: var(--color-black);
    text-decoration: none;

    svg {
      fill: var(--color-black);
    }
  }

  &:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.1875rem;
    text-underline-offset: 0.75rem;
  }

  &-icon {
    transition: var(--transition-time);

    svg {
      display: block;
      height: 1.125rem;
      width: 1.125rem;
    }

    &::after {
      content: none;
      transform: none;
      width: 1rem;
    }
  }

  &-text {
    margin-left: 0.5rem;
  }

  &:focus:hover {
    text-decoration: none;
  }

  &--active,
  &--active:hover {
    background-color: var(--color-focus);
    color: var(--color-black);
    text-decoration: none;

    .lgd-header__toggle-icon {
      transform: rotate(180deg);

      svg {
        fill: var(--color-black);
      }
    }
  }
}

/* Search forms - header and search page */
#views-exposed-form-localgov-sitewide-search-sitewide-search-page,
#views-exposed-form-localgov-sitewide-search-sitewide-search-page-block {
  label {
    @include visually-hidden;
  }

  input[type=text] {
    padding: 0.625rem;
    width: 15rem;

    @media screen and (max-width: 62rem) {
      width: 12rem;
    }

    &:focus {
      outline-offset: -0.1875rem;
    }
  }
}

.lgd-region--search {
  margin-bottom: 0;
  margin-top: 0;

  .form-actions {
    display: flex;
    justify-content: center;
    margin-top: 0;
  }
}

#views-exposed-form-localgov-sitewide-search-sitewide-search-page {
  align-items: center;
  display: flex;

  input[type=text] {
    padding: calc(0.625rem - 1px);
  }
}

.button--search {
  align-items: center;
  background-color: var(--color-dark);
  border-bottom: none;
  display: flex;
  height: 2.5rem;
  justify-content: center;
  padding: 0;
  width: 2.5rem;

  svg {
    width: 1.375rem;
  }

  &:focus {
    background-color: var(--color-dark);
    outline: 0.1875rem solid var(--color-focus);
    outline-offset: -0.1875rem;
  }
}

/*
  Header styling for smaller screens.
  Over-rides localgov_base default breakpoint of 48rem - if amending here be mindful of hard-coded breakpoints
  in the parent theme.
*/

@media screen and (max-width: 60rem) {
  .lgd-header {
    padding: 1rem;

    .lgd-container {
      padding-bottom: 0;

      .lgd-row__full {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
      }
    }

    .lgd-container.padding-horizontal {
      padding-left: 0;
      padding-right: 0;
    }

    &__inner {
      position: relative;
    }

    .lgd-header__nav--active {
      display: flex;
      flex: 0 0 100%;
      flex-direction: column;
      margin: 1.25rem 0;
    }

    .menu--main {
      display: flex;
      flex-direction: column;
      margin-right: 0;

      .lgd-services__toggle {
        order: 1;

        .lgd-header__toggle--secondary {
          border-bottom: 3px solid var(--color-gray-light);
          &:hover {
            border-bottom: 3px solid var(--color-black);
          }
        }
        .lgd-header__toggle--active {
          border-bottom: 3px solid black;
        }
      }

      & > .menu-item + .menu-item,
      & > .menu-item,
      .menu-item {
        border-bottom: 3px solid var(--color-gray-light);
        font-size: 1rem;
        margin: 0;

        &.lgd-services__toggle {
          border-bottom: none;
          &:hover {
            border-bottom: none;
          }
        }
        &--active-trail {
          border-bottom: 3px solid var(--color-primary);
        }
        &:hover {
          border-bottom: 3px solid var(--color-black);
        }

        a {
          color: var(--color-black);
          text-decoration: none;

          &.is-active {
            text-decoration: none;
          }

          &:hover {
            color: var(--color-black);
          }
        }

        button,
        a {
          font-weight: 600;
          padding: 0.6875rem 0;

          &:focus {
            border-radius: 0;
          }
        }
      }

    }

    .lgd-header__toggle {
      font-size: 1rem;
    }

    &__toggles {
      margin-right: 0;
    }

    .lgd-header__toggle--secondary {
      border-radius: 0;
      display: flex;
      margin-left: 0;
      padding-left: 0;
      width: 100%;

      .lgd-header__toggle-icon {
        margin-left: 0;
        margin-right: 0.5rem;
      }

      &:hover {
        background-color: transparent;
        text-decoration: none;
      }

      .lgd-header__toggle-text--secondary {
        margin-left: 0;
      }
    }

    &__toggle.lgd-header__toggle--primary {
      align-items: center;
      border-bottom: 3px solid var(--color-primary);
      border-radius: 0;
      display: flex;
      font-size: 1rem;
      justify-content: center;
      margin-left: 0;
      padding: 0.1875rem 0;

      #primary-closed {
        display: inline;
      }

      #primary-open {
        display: none;
      }

      &:hover {
        text-decoration: none;

        svg {
          fill: var(--header-services-button-color);
        }
      }

      &.lgd-header__toggle--active svg {
        fill: var(--color-black);
      }

      &:focus {
        border-bottom-color: var(--color-black);

        svg {
          fill: var(--color-black);
        }
      }

      &.lgd-header__toggle--active {

        #primary-closed {
          display: none;
        }

        #primary-open {
          display: inline;
          transform: scale(1.3) translateY(-50px);
        }
      }
    }
  }

  .lgd-region--search {
    margin: 0;
    order: -1;
    width: 100%;

    .form-item {
      flex-grow: 1;
    }

    #views-exposed-form-localgov-sitewide-search-sitewide-search-page-block input[type=text] {
      border-color: var(--color-black);
      font-size: 1rem;
      padding-left: 0.5rem;
      width: 100%;
    }
  }
}

