.hgv-timber-routes {
  .hgv_route_consultation {
    stroke: #f9ff00;
  }
  .hgv_route_excluded {
    stroke: #005fe4;
  }
  .hgv_route_severely_restricted {
    stroke: #a801ec;
  }
  .hgv_route_permit {
    stroke: #58fb0a;
    stroke-dasharray: 10;
  }
  .hgv_route_agreed {
    stroke: #ff0c09;
  }
}

.leaflet-container {
  .route-dashed {
    stroke-dasharray: 10;
  }
  .route-black {
    stroke: #000;
  }
  .route-blue {
    stroke: #005fe4;
  }
  .route-green {
    stroke: #43a412;
  }
  .route-orange {
    stroke: #c75000;
  }
  .route-pink {
    stroke: #e401ec;
  }
  .route-purple {
    stroke: #61059d;
  }
  .route-red {
    stroke: #ff0c09;
  }
  .route-yellow {
    stroke: #f9ff00;
  }
}
