.menu--main {
  margin-right: 1.25rem;

  > .menu-item {
    font-size: 1.125rem;
    font-weight: 700;

    a {
      border: none;
      color: var(--color-white);
      padding: 0.375rem 0.75rem;
      text-decoration: none;
      text-underline-offset: 0.75rem;

      &:focus {
        background-color: var(--color-focus);
        border-radius: 0.25rem;
        box-shadow: none;
        color: var(--color-black);
      }

      &:hover {
        background-color: transparent;
        color: var(--color-white);
        text-decoration: underline;
        text-decoration-thickness: 0.1875rem;
      }
    }

    + .menu-item {
      @media screen and (max-width: 62rem) {
        margin-left: 0;
      }
    }
  }

  + .menu-item {
    margin-left: 2.5rem;
  }
}
