.page-node-type-localgov-newsroom {
  .newsroom__featured-news {
    border-bottom: 1px solid var(--color-gray);
    padding-bottom: 1rem;

    .lgd-teaser--localgov-news-article {
      h2.h3 {
        font-size: var(--font-size-h2);

        a {
          display: block;
        }
      }

      .lgd-teaser__image {
        flex-shrink: 0;
        width: 50%;

        @media screen and (max-width: 48rem) {
          width: 100%;
        }

        img {
          margin-bottom: 1rem;
          max-width: 100%;
          width: 100%;
        }
      }
    }
  }

  .newsroom__content {
    @media screen and (min-width: 48rem) {
      .lgd-row__one-third {
        width: calc(100% / 3);
      }
      .lgd-row__two-thirds {
        width: calc(100% / 3 * 2);
      }
    }
  }

  .newsroom__sidebar > * {
    padding-left: 0;
  }

  .newsroom__sidebar {

    .facets-widget__list {
      padding-left: 0;
    }

    .form-item-search-api-fulltext label {
      font-size: var(--font-size-h3);
    }
  }

  .lgd-teaser--localgov-news-article {
    @media screen and (min-width: 48rem) {
      display: flex;
      flex-direction: row-reverse;
      gap: 0 1rem;
      justify-content: space-between;
    }

    @media screen and (max-width: 48rem) {
      h2 {
        font-size: 1.4rem;

        a {
          display: block;
        }
      }
    }

    h2 {
      margin-top: 0;
    }

    img {
      max-width: 15rem;
      width: 15rem;

      @media screen and (max-width: 48rem) {
        float: right;
        margin-left: 0.5rem;
        width: 30%;
      }
    }
  }
}

.page-node-type-localgov-news-article .lgd-region--breadcrumb {
  background-color: var(--color-white);
}

.node--type-localgov-news-article.node--view-mode-full {
  margin-top: 2rem;
}

.news-article__metadata {
  display: flex;

  .news-article__metadata-item + .news-article__metadata-item {
    margin-top: 0;
  }

  ul {
    font-size: 1rem;
  }
}