.pager {
  margin-top: 1rem;
}

.pager__item {
  margin: 0;

  &::marker {
    content: none;
  }

  a {
    display: block;
    padding: 0.5rem 1rem;

    &:hover {
      background-color: var(--color-gray-light);
    }
  }

  &.is-active {
    a {
      background-color: var(--color-primary);
      color: var(--color-white);
    }
  }

  &.is-active,
  &--next,
  &--previous {
    a {
      font-weight: 700;
    }
  }

  &--first,
  &--last {
    display: none;
  }
}

@media screen and (max-width: 48rem) {
  .pager__items {
    padding-left: 0 !important;

    .pager__item:nth-child(n+7) {
      display: none;
    }

    a {
      font-size: 1rem;
      padding: 0.375rem 0.875rem;
    }
  }

  .pager .pager__items .pager__item--next {
    display: list-item;
  }

}