.lgd-region--content-top {
  background-color: var(--color-section-content-top);
  margin-bottom: var(--spacing-large);
  padding-bottom: var(--spacing);
}

.lgd-page-title-block__title {
  margin-bottom: 1rem;
}

.lgd-page-title-block__subheader {
  margin-bottom: 2rem;
  max-width: 54rem;
}
