#views-exposed-form-salt-bins-page-1 {
  display: flex;
  align-items: flex-end;
  margin-bottom: var(--spacing);

  fieldset {
    margin-bottom: 0;
    width: 14rem;

    legend {
      display: none;
    }
  }

  .form-item {
    margin-bottom: 0;
  }

  .form-item-field-route-proximity-value {
    display: none;
  }

  .proximity-filter-summary {
    display: none;
  }
}
