/* Search form */
#views-exposed-form-localgov-sitewide-search-sitewide-search-page .form-item,
#views-exposed-form-localgov-sitewide-search-sitewide-search-page-block .form-item {
  margin-bottom: 0;

  input {
    height: 2.75rem;
  }
}

/* Search results */
.lgd-search-results-list__header-container {
  border: none;
  padding: 0;
}
.lgd-search-results-list .button--search {
  height: 2.75rem;
  width: 2.75rem;
}
.node--type-localgov-services-page.node--view-mode-search-result h2 {
  font-size: var(--font-size-h3);
  font-weight: var(--heading-3-font-weight);
  line-height: var(--heading-3-line-height);
}