.secondary-menu-container {
  background-color: var(--color-white);
}

.lgd-region--secondary-menu {
  margin-top: 0;

  .menu {
    column-count: var(--secondary-menu-column-count);
    list-style: none;
    padding-left: 0;

    @media screen and (max-width: 48rem) {
      column-count: 2;
      max-height: none;
    }

    @media screen and (max-width: 30rem) {
      column-count: 1;
      max-height: none;
    }
  }

  .menu-item {
    @media screen and (max-width: 60rem) {
      margin-bottom: var(--spacing-small);
    }
  }

  .block-menu > h2 {
    padding-left: 0;
  }
}

.navigation--services h2 {
  font-size: 1.375rem;
  margin-top: 0;
}

.menu--services {
  list-style: none;
  padding-left: 0;

  .menu-item a {
    color: var(--color-accent);
    font-size: 1.125rem;
  }
}

@media screen and (max-width: 60rem) {
  #block-services-menu {
    @include visually-hidden;
  }

  .secondary-menu-container {
    border-bottom: 1px solid var(--color-gray);
  }
  .lgd-header__nav--secondary {
    margin-left: 0;
  }
  .lgd-region__inner--secondary-menu {
    padding: 0;
  }
  .lgd-region--secondary-menu .block-menu > h2 {
    font-size: 1.375rem;
    margin-top: 0;
  }
  .menu--services .menu-item a {
    font-size: 1rem;
  }
}
