/* See _contact.scss for service contact component */

.service-landing-page {

  &__services {
    margin-bottom: 3rem;

    .field__items {
      display: flex;
      flex-wrap: wrap;
      gap: 3rem;

      @media screen and (max-width: 37.5rem) {
        gap: 0;
      }

      & > * {
        width: calc(33% - var(--spacing-larger));

        @media screen and (max-width: 57rem) {
          width: calc(50% - var(--spacing-larger));
        }

        @media screen and (max-width: 37.5rem) {
          width: 100%;
        }
      }
    }
  }

  &__service-icon {
    display: none;
  }

  &__service-item {
    font-size: 1.125rem;

    h2 {
      font-size: var(--font-size-h3);
      line-height: 1.3;

      a {
        display: block;
      }
    }
  }
}
