.service-statuses {
  margin-bottom: var(--spacing-largest);

  &__label {
    background-image: var(--icon-info-circle);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 1.875rem;
    color: var(--service-statuse-label-color);
    font-size: var(--font-size-h4);
    margin-top: 0;
    padding-left: 2.5rem;
  }

  &-list {
    padding: 0.9375rem;
  }

  &-list__item + .service-statuses-list__item {
    margin-top: 0;
  }

  &-list__item {
    margin-bottom: var(--service-statuses-list-spacing);
  }

  &__header a {
    .lgd-icon {
      margin-left: var(--spacing-smaller);
      margin-right: 0;

      svg {
        width: 0.75rem;
      }
    }

    &:hover,
    &:active,
    &:visited {
      color: var(--color-white);
    }

    &:focus {
      color: var(--color-black);
    }
  }
}

.service-status {
  align-items: flex-start;
  display: flex;

  &__date,
  &__content {
    padding-right: 2rem;
  }

  &__content {
    flex-grow: 1;
  }

  &__title {
    margin-bottom: 1rem;
  }

  &__summary {
    margin-bottom: 0;
  }

  &__read-more {
    flex-shrink: 0;
  }

  &__title {
    font-size: var(--font-size-h5);
    margin-top: 0;
  }
}
