.service-cta-block__list {
  border-bottom: none;
  gap: 0 1rem;

  @media screen and (max-width: 48rem) {
    display: block;
  }


  &-item {
    font-size: 1.125rem;
    margin-left: 0;
    max-width: calc(33% - 0.5rem);
    font-weight: 700;

    @media screen and (max-width: 48rem) {
      max-width: 100%;
      width: 100%;
    }
  }
}

a.service-cta-block__link {
  background-color: var(--color-success);
  border-bottom: var(--border-large);
  border-bottom-color: var(--color-success-darken);
  height: 100%;
  padding: 0.625rem 1rem;

  &:focus {
    background-color: var(--color-focus);
    border-bottom-color: var(--color-black);
  }

  &:hover {
    background-color: var(--color-success-darken);
    color: var(--color-white);
  }

  &:focus,
  &:hover {
    box-shadow: none;
    text-decoration: none;

    .service-cta-block__link-icon {
      left: initial;
    }

  }
}

.service-cta-block__link:focus .service-cta-block__link-icon svg path {
  fill: var(--color-black);
}

.service-cta-block__link:hover .service-cta-block__link-icon svg path {
  fill: var(--color-white);
}

.service-cta-block__link-icon {
  transition: none;
}
