.shadow-finder {

  form {
    label {
      font-size: 1rem;
      margin-bottom: 0.5rem;
    }
    div {
      display: flex;
      margin-bottom: 1rem;

      input {

      }
    }
  }

  .shadow-logos {
    align-items: center;
    display: flex;

    img {
      height: 70px;

      + img {
        height: 45px;
        margin-left: 1.5rem;
      }
    }
  }
}
