.search-results {
  padding-left: 0;
  @media screen and (min-width: 48rem) {
    width: calc(100% / 3 * 2);
  }

  li::marker {
    color: transparent;
  }
}

.search-result {
  border-bottom: 1px solid var(--color-gray);
  padding-bottom: 2rem;

  &__title {
    margin-bottom: 1rem;
  }
}
