.cumbria-social {
  display: flex;
  list-style: none;
  margin-bottom: 2rem;
  padding-left: 0;

  li {
    margin-right: 0.75rem;

    a {
      &:focus {
        img {
          border: 0.1875rem solid var(--color-focus);
        }
      }
      &:hover {
        img {
          background-color: var(--color-black);
        }
      }
      img {
        background-color: var(--color-primary);
        border: 0.1875rem solid transparent;
        height: 2.125rem;
        width: 2.125rem;
      }
    }
  }

}
