// Ugly specificity and use of !important pending removal of over-specific selectors in localgov_step_by_step, see:
// https://github.com/localgovdrupal/localgov_step_by_step/issues/41

// On larger screens restrict overview column to 2/3
@media screen and (min-width: 52rem) {
  .localgov-step-by-step-overview.node--with-restricted-width,
  .block-views-blocklocalgov-step-by-step-navigation-steps-for-overview {
    width: calc((100% / 3 * 2) - 1rem);
  }
}

.lgd-region--content-bottom .summaries-control {
  text-align: right;
}

.step-master,
.step-show {
  color: var(--color-link) !important;
  margin-left: 0.375rem;
  padding: 0 !important;

  &:hover {
    background-color: transparent !important;
    box-shadow: none !important;
    color: var(--color-link-hover) !important;
    cursor: pointer;
    text-decoration: underline !important;
    text-decoration-thickness: 0.1875rem !important;
  }

  &:focus {
    box-shadow: none !important;
  }
}

.step-by-step-pages ol.step-list .step .step__title .step-show {
  background-image: var(--icon-chevron-circle-down);
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 1.25rem auto;
  color: var(--color-black) !important;
  padding-right: 1.75rem !important;

  &:hover {
    color: var(--color-black);
  }

  &[aria-expanded="true"] {
    background-image: var(--icon-chevron-circle-up);
  }
}

.step-by-step-pages--nav .step-list {
  border-top: 0.0625rem solid var(--color-gray);
  margin-bottom: 4rem !important;
  margin-top: 1rem !important;
}

.step-by-step-pages ol.step-list .step:not(:first-child) .step__title {
  border-top: 0.0625rem solid var(--color-gray);
}

.step-by-step-pages ol.step-list .step:before {
  top: 2rem;
  height: 2.375rem;
  width: 2.375rem;
  color: var(--color-black);
  background-color: var(--color-white);
  line-height: 2.25rem;
  font-weight: 700;
  border: 0.0625rem solid var(--color-gray);
}

.step-by-step-pages ol.step-list .step:not(:last-of-type):after {
  top: 3rem;
}

.step-by-step-pages ol.step-list .step {
  padding-bottom: 1rem;
}

.step-by-step-pages ol.step-list .step .step__title {
  font-size: 1.5rem;
  margin-left: 3.5rem;
  padding-top: 2rem;

  .step-summary-container {
    button {
      font-size: 1rem;
      margin-left: 0;
      padding: 0;
    }
  }
}

.step-by-step-pages ol.step-list .step:not(:last-of-type):after {
  left: 1.125rem;
}

.step-by-step-pages ol.step-list .step .step__title a {
  color: var(--color-link);

  &:focus {
    color: var(--color-black);
  }
}

.step-by-step-pages ol.step-list .step .step__summary {
  margin-left: 3.5rem;
  padding-left: 0;
}

// Step-by-step page
.localgov-step-by-step-page {
  padding-bottom: var(--spacing-largest);
}

.step-by-step-pages__relationship {
  background-color: var(--color-white);
  border-bottom: 0.0625rem solid var(--color-accent);
  border-left: none;
  font-size: 1.375rem;
  font-weight: 700;
  padding: 1.25rem 1.875rem;
}

.step-by-step-pages__relationship .step-by-step-pages__part-of {
  font-size: 1.375rem;
}

.step-by-step-pages .step-by-step-pages__relationship {
  display: none;
}

.lgd-region__inner--content .lgd-prev-next__list {
  gap: 0.5rem;
  justify-content: space-between;
  padding-left: 0;
}

.lgd-prev-next__list-item--next {
  margin-left: auto;
}

.lgd-prev-next .lgd-prev-next__link {
  background-color: var(--color-teal);
  border: none;
  border-bottom: var(--border-large);
  border-bottom-color: var(--color-teal-darken);
  color: var(--color-white);
  font-size: 1.125rem;
  font-weight: 700;
  margin: 1rem 0;
  padding: 0.625rem 1rem;
  text-decoration: none;
  width: 11.75rem;

  &:visited {
    color: var(--color-white);
  }

  &:hover {
    background-color: var(--color-teal-darken);
    color: var(--color-white);

    .lgd-prev-next__icon path {
      fill: var(--color-white);
    }
  }

  &:focus {
    background-color: var(--color-focus);
    border-bottom-color: var(--color-black);
    box-shadow: none;
    color: var(--color-black);
    .lgd-prev-next__icon path {
      fill: var(--color-black);
    }
  }
}

@media screen and (max-width: 48rem) {
  .step-by-step-pages .step-master,
  .step-by-step-pages ol.step-list .step .step__title .step-show {
    font-size: var(--font-size-small);
  }

  .step-by-step-pages ol.step-list .step .step__title {
    font-size: 1.375rem;
  }

  .step-by-step-pages ol.step-list .step .step__title .step-summary-container button {
    font-size: var(--font-size-small);
  }

  .step-by-step-pages__relationship,
  .step-by-step-pages__relationship .step-by-step-pages__part-of {
    font-size: 1.1875rem;
  }

  .step-by-step--prev-next {
    width: 100%;
  }

  .lgd-prev-next__link {
    margin-bottom: 0.5rem;
  }

  ul.lgd-prev-next__list {
    justify-content: space-between;
    padding-top: 1rem;
  }

  .lgd-prev-next__list-item--next {
    margin-left: 0;
    margin-top: 0;
  }

  .lgd-prev-next .lgd-prev-next__link {
    font-size: 1rem;
    padding: 0.625rem 0.75rem;
    width: auto;
  }

  .lgd-prev-next__list-item {
    width: 45%
  }
}
