table {
  p, li, td {
    font-size: 1rem;
  }
}

/*!
// CSS only Responsive Tables
// http://dbushell.com/2016/03/04/css-only-responsive-tables/
// by David Bushell
*/

table {
  /*!
  // IE needs inline-block to position scrolling shadows otherwise use:
  // display: block;
  // max-width: min-content;
  */
  display: inline-block;
  vertical-align: top;
  max-width: 100%;

  overflow-x: auto;

  border-collapse: collapse;
  border-spacing: 0;

  &.nowrap {
    white-space: nowrap;
  }

}

table {
  // optional - enable iOS momentum scrolling
  -webkit-overflow-scrolling: touch;

  // scrolling shadows
  background: radial-gradient(left, ellipse, rgba(0,0,0, .2) 0%, rgba(0,0,0, 0) 75%) 0 center,
  radial-gradient(right, ellipse, rgba(0,0,0, .2) 0%, rgba(0,0,0, 0) 75%) 100% center;
  background-size: 10px 100%, 10px 100%;
  background-attachment: scroll, scroll;
  background-repeat: no-repeat;

  caption {
    margin-bottom: 0.375rem;
    text-align: left;
  }
}

// change these gradients from white to your background colour if it differs
// gradient on the first cells to hide the left shadow
table td:first-child {
  background-image: linear-gradient(to right, rgba(255,255,255, 1) 50%, rgba(255,255,255, 0) 100%);
  background-repeat: no-repeat;
  background-size: 1.25rem 100%;
}

// gradient on the last cells to hide the right shadow
table td:last-child {
  background-image: linear-gradient(to left, rgba(255,255,255, 1) 50%, rgba(255,255,255, 0) 100%);
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: 20px 100%;
}

table th {
  text-align: left;
  background: var(--color-light);
}

table th,
table td {
  border: 0.0625rem solid var(--color-gray);
  font-size: 1rem;
  padding: 0.375rem 0.75rem;
  vertical-align: top;
}
