*:focus {
  outline: none;
}

a,
a:focus {
  transition: none;
}

a:hover {
  text-underline-offset: 2px;
}

a[href^="mailto:"] {
  word-wrap: break-word;
}

.lgd-region--content {
  padding-bottom: var(--spacing-largest);

  a {
    &:visited {
      color: var(--color-link-visited);
    }
    &:hover {
      color: var(--color-link-hover);
    }
  }
}

.lgd-region--content-bottom {
  margin-bottom: 4.375rem;
}

dl {
  margin-bottom: var(--vertical-rhythm-spacing);
}

dt {
  font-weight: 700;
}
dd {
  margin-bottom: var(--spacing-large);
  margin-left: 0;
}

table {
  border: none;
}

th {
  font-size: var(--font-size-h5);
  line-height: 1.625rem;
  vertical-align: bottom;
}

td {
  font-size: 1.125rem;
}

thead tr,
tbody tr {
  border-bottom: var(--table-border);
}

/* Remove horizontal padding on main node content */
.node--view-mode-full > .lgd-container {
  padding-left: 0;
  padding-right: 0;
}

/* Ensure consistent spacing between content-top and main content - this is ugly */
.page-node-type-localgov-step-by-step-page,
.page-node-type-localgov-step-by-step-overview,
.page-node-type-localgov-directory,
.page-node-type-localgov-directories-venue,
.page-node-type-localgov-directories-page,
.page-node-type-localgov-services-status {

  .lgd-region--content-top {
    margin-bottom: 3.5rem;
  }
}

.field--type-text-with-summary p.alert:first-child,
.localgov-services-page__content .field--type-text-with-summary > p:first-child,
.block-system-main-block > .service-statuses {
  margin-top: 2.5rem;
}

.page-node-type-localgov-step-by-step-page .field--type-text-with-summary > h2:first-child {
  margin-top: 0;
}
