@media print {

  @page {
    margin-top: 2rem;
    size:A4 portrait;
  }

  .lgd-region--content a,
  p.alert {
    -webkit-print-color-adjust: exact;
  }

  .lgd-header__inner {
    justify-content: start;
  }

  .lgd-region--content-top {
    margin-bottom: 0;
  }
  .localgov-services-page__content .field--type-text-with-summary>p:first-child {
    margin-top: 0;
  }

  .step-by-step-pages ol.step-list .step .step__summary {
    display: block;
  }

  .lgd-region--pre-header,
  .lgd-header__toggles,
  .lgd-header__nav,
  .region-tabs,
  .lgd-region--banner,
  .step-summary-container,
  .summaries-control,
  .page-node-type-localgov-step-by-step-page ol.step-list,
  .page-node-type-localgov-directory .sidebar--first,
  .page-node-type-localgov-directories-venue .sidebar--first,
  .page-node-type-localgov-directories-page .sidebar--first,
  .page-node-type-localgov-directories-warm-spot .sidebar--first,
  .page-node-type-localgov-newsroom .newsroom__sidebar,
  .page-node-type-localgov-news-article .sidebar--second,
  .lgd-footer__pre-footer,
  .lgd-footer__footer ul,
  .lgd-footer__footer .menu--footer {
    display: none !important;
  }
}
