html {
  font-size: 16px;
}

u {
  text-decoration: none;
}

p,
ul,
ol,
dl {
  font-size: var(--font-size-medium);
  margin-bottom: 1rem;
}

.lgd-region__inner--content {
  ul {
    padding-left: 1rem;
  }
}

h1,
.h1 {
  line-height: 1.3;
  margin-bottom: 1.5rem;
}

h2,
.h2 {
  margin-bottom: 1rem;
  margin-top: 2.5rem;
}

h3,
.h3 {
  margin-bottom: 1.5rem;
  margin-top: 2rem;
}

h4,
.h4 {
  margin-bottom: 1.5rem;
  margin-top: 2rem;
}

h5,
.h5 {
  font-variant: none;
  margin-bottom: 1.5rem;
  margin-top: 2rem;
}

h6,
.h6 {
  font-variant: none;
  margin-bottom: 1.5rem;
  margin-top: 2rem;
  text-decoration: none;
}

@media screen and (max-width: 48rem) {

  body {
    --font-size-h1: 2rem;
    --font-size-h2: 1.625rem;
    --font-size-h3: 1.5rem;
    --font-size-h4: 1.375rem;
    --font-size-h5: 1.125rem;
    --font-size-h6: 1.125rem;
    --font-size-small: 0.875rem;
    --font-size-medium: 1rem;
    --font-size-large: 1.375rem;
    --page-title-lede-font-size: 1.1875rem;
  }

  .lgd-region__inner--content {
    p,
    ul,
    ol,
    dl {
      margin-top: 1rem;
    }
  }
}
