/*
  Import fonts.

  In the base theme, we have no fonts importing so that the theme is as fast
  as possible, and so we are not loading fonts that are then going to be
  overridden in a sub-theme in any case.

  Want a font? Load it here, or in the html.html.twig file (you'll have to
  copy that file to the theme) which might give you an even faster loading time.

  For example:

  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
*/

/*
  Override variables for your sub-theme. The full list of variables can be
  found in the localgov_base theme variables.css file.

  In the base theme, most item values are set as variables. These variables
  usually reference other variables. For example, we have a certain number of
  colours, font sizes, spacing units, etc. We then create specific variables
  (for example a variable for the color of a link in the header) but these
  specific variables reference our base "root" variables.

  The overrides here give an example of what you might want to change. As you
  can see, you can change as much or as little as you wish.

  Examples:
  - The base font size in the base theme is 16px (1rem). If you want
    all your fonts to be based on a different scale, set --font-size variable
    to something else.
  - The base line-height is 1.5 in the base theme. If you want that to be 1.3,
    set --line-height to 1.3. A lot of spacing between items is based on this
    rhythm (1.5rem), so changing to 1.3 will update all across the board.
  - The accent colour in our base theme is purple. If you would like it to be
    hotpink, just set --color-accent: hotpink;
*/

body {
  --width-container: 73.25rem; /* 1172px - with default 1rem L/R horizontal padding = 1140px content width */
  --width-medium: 58rem;

  --border-width-large: 0.25rem;
  --breadcrumbs-background-color: var(--color-light);
  --breadcrumbs-border: none;
  --breadcrumbs-divider: '>';
  --breadcrumbs-font-size: var(--font-size-small);
  --breadcrumbs-padding-vertical: 2.125rem;
  --breadcrumbs-spacing-bottom: 0;

  /* Elements */
  --table-bg-color: var(--color-white);
  --table-border: 0.0625rem solid var(--color-gray);

  /* Input Elements */
  --text-input-font-family: var(--font-primary);

  /* Button Elements (and button-styled links) */
  --button-padding-vertical: 0.625rem;
  --button-padding-horizontal: 1rem;
  --button-text-color-hover: var(--color-white);
  --button-icon-color: var(--button-text-color);
  --button-icon-color-hover: var(--button-text-color-hover);
  --button-border-color: var(--color-success-darken);
  --button-bg-color: var(--color-success);
  --button-bg-color-hover: var(--color-success-darken);

  /* Colours - see http://csmdemo.uk/cumbria-starter/localgov-cumbria-colour-variables.php */
  --color-accent: var(--color-primary);
  --color-active: var(--color-secondary);
  --color-black: #0b0c0c;
  --color-blue: #00599c;
  --color-blue-darken: #003c69;
  --color-cyan: #00b5e2;
  --color-cyan-tint: #d9f4fb;
  --color-danger: #b30000;
  --color-danger-darken: #800000;
  --color-danger-tint: #f4d9d9;
  --color-dark: #003747;
  --color-focus: #fdd24f;
  --color-gray: #adb5bd;
  --color-gray-dark: #595959;
  --color-gray-darken: #919ca6;
  --color-gray-light: #f3f2f1;
  --color-green: #c4d600;
  --color-green-tint: #f6f9d9;
  --color-hover: #063747;
  --color-indigo: #542c6c;
  --color-indigo-tint: #e6e0e9;
  --color-info: var(--color-primary);
  --color-info-dark: #08350c;
  --color-light: #f1f9fe;
  --color-orange: #e57200;
  --color-orange-tint: #f7e5d9;
  --color-pink: #ad3cad;
  --color-pink-tint: #f3e2f3;
  --color-placeholder: var(--color-secondary);
  --color-primary: #005e7a;
  --color-primary-darken: #063747;
  --color-primary-tint: #D5E7EA;
  --color-purple: #830065;
  --color-purple-tint: #edd9e8;
  --color-red: #bf0d3e;
  --color-red-tint: #f5dbe2;
  --color-secondary: #0b0c0c;
  --color-secondary-tint: #dbdbdb;
  --color-section-content-top: var(--color-light);
  --color-section-footer-bg: #003747;
  --color-section-post-footer: #003747;
  --color-section-post-footer-bg: #f3f2f1;
  --color-section-pre-footer-bg: #fff;
  --color-success: #006818;
  --color-success-darken: #08350c;
  --color-success-tint: #d9e8dd;
  --color-teal: #237f86;
  --color-teal-darken: #18595e;
  --color-teal-tint: #d8e9ea;
  --color-warning: #fdd24f;
  --color-warning-tint: #feedb9;
  --color-warning-darken: #ffc000;
  --color-white: #fff;
  --color-yellow: #eeb927;

  --color-link:#005e7a;
  --color-link-hover: var(--color-hover);
  --color-link-visited: var(--color-indigo);
  --color-action-link: var(--color-link);

  --font-primary: "Open Sans",Arial,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  --font-secondary: var(--font-primary);
  --font-size-h1: 2.75rem;
  --font-size-h2: 2.125rem;
  --font-size-h3: 1.75rem;
  --font-size-h4: 1.375rem;
  --font-size-h5: 1.25rem;
  --font-size-h6: 1.25rem;
  --font-size-small: 0.875rem;
  --font-size-medium: 1.125rem;
  --font-size-large: 1.375rem;
  --font-weight-bold: 700;

  /* Header */
  --header-logo-width: 8.5rem;
  --header-logo-width-small: 6.5rem;
  --header-search-button-color: var(--color-white);
  --header-search-button-bg-color: var(--color-dark);
  --header-search-button-color-hover: var(--color-white);
  --header-search-button-bg-color-hover: var(--color-dark);

  /* SVG icon data URLs - NB: fixed colour */
  --icon-arrow-circle-right: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' fill='%23006818'%3E%3Cpath d='M8 256c0 137 111 248 248 248s248-111 248-248S393 8 256 8 8 119 8 256zM256 40c118.7 0 216 96.1 216 216 0 118.7-96.1 216-216 216-118.7 0-216-96.1-216-216 0-118.7 96.1-216 216-216zm12.5 92.5l115.1 115c4.7 4.7 4.7 12.3 0 17l-115.1 115c-4.7 4.7-12.3 4.7-17 0l-6.9-6.9c-4.7-4.7-4.7-12.5.2-17.1l85.6-82.5H140c-6.6 0-12-5.4-12-12v-10c0-6.6 5.4-12 12-12h190.3l-85.6-82.5c-4.8-4.7-4.9-12.4-.2-17.1l6.9-6.9c4.8-4.7 12.4-4.7 17.1 0z'/%3E%3C/svg%3E");
  --icon-caret-right: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg viewBox='0 0 8 11' xmlns='http://www.w3.org/2000/svg' xml:space='preserve' fill-rule='evenodd' clip-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='2'%3E%3Cpath d='M1.211.158A.748.748 0 0 0 .75 0 .754.754 0 0 0 0 .75v8.501a.752.752 0 0 0 1.212.591L6.71 5.584a.748.748 0 0 0-.001-1.183L1.211.158Z'/%3E%3C/svg%3E");
  --icon-check-circle: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' fill='%23fff'%3E%3Cpath d='M256 8C119.033 8 8 119.033 8 256s111.033 248 248 248 248-111.033 248-248S392.967 8 256 8zm0 464c-118.664 0-216-96.055-216-216 0-118.663 96.055-216 216-216 118.664 0 216 96.055 216 216 0 118.663-96.055 216-216 216zm141.63-274.961L217.15 376.071c-4.705 4.667-12.303 4.637-16.97-.068l-85.878-86.572c-4.667-4.705-4.637-12.303.068-16.97l8.52-8.451c4.705-4.667 12.303-4.637 16.97.068l68.976 69.533 163.441-162.13c4.705-4.667 12.303-4.637 16.97.068l8.451 8.52c4.668 4.705 4.637 12.303-.068 16.97z'/%3E%3C/svg%3E");
  --icon-chevron-circle-down: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 448c-110.5 0-200-89.5-200-200S145.5 56 256 56s200 89.5 200 200-89.5 200-200 200zm8.5-107.5l122.8-122.8c4.7-4.7 4.7-12.3 0-17l-22.6-22.6c-4.7-4.7-12.3-4.7-17 0L256 277.8l-91.7-91.7c-4.7-4.7-12.3-4.7-17 0l-22.6 22.6c-4.7 4.7-4.7 12.3 0 17l122.8 122.8c4.7 4.7 12.3 4.7 17 0z'/%3E%3C/svg%3E");
  --icon-chevron-circle-up: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M264.5 163.5l122.8 122.8c4.7 4.7 4.7 12.3 0 17l-22.6 22.6c-4.7 4.7-12.3 4.7-17 0L256 234.2l-91.7 91.7c-4.7 4.7-12.3 4.7-17 0l-22.6-22.6c-4.7-4.7-4.7-12.3 0-17l122.8-122.8c4.7-4.7 12.3-4.7 17 0zM504 256c0 137-111 248-248 248S8 393 8 256 119 8 256 8s248 111 248 248zm-48 0c0-110.5-89.5-200-200-200S56 145.5 56 256s89.5 200 200 200 200-89.5 200-200z'/%3E%3C/svg%3E");
  --icon-chevron-right: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512' fill='%23fff'%3E%3Cpath d='M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z'/%3E%3C/svg%3E");
  --icon-chevron-right-black: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512' fill='%23000'%3E%3Cpath d='M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z'/%3E%3C/svg%3E");
  --icon-comment-alt-lines: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewbox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='%23ffffff' d='M448 0H64C28.7 0 0 28.7 0 64v288c0 35.3 28.7 64 64 64h96v84c0 7.1 5.8 12 12 12 2.4 0 4.9-.7 7.1-2.4L304 416h144c35.3 0 64-28.7 64-64V64c0-35.3-28.7-64-64-64zm16 352c0 8.8-7.2 16-16 16H288l-12.8 9.6L208 428v-60H64c-8.8 0-16-7.2-16-16V64c0-8.8 7.2-16 16-16h384c8.8 0 16 7.2 16 16v288zm-96-216H144c-8.8 0-16 7.2-16 16v16c0 8.8 7.2 16 16 16h224c8.8 0 16-7.2 16-16v-16c0-8.8-7.2-16-16-16zm-96 96H144c-8.8 0-16 7.2-16 16v16c0 8.8 7.2 16 16 16h128c8.8 0 16-7.2 16-16v-16c0-8.8-7.2-16-16-16z'%3E%3C/path%3E%3C/svg%3E");
  --icon-envelope: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M464 64H48C21.49 64 0 85.49 0 112v288c0 26.51 21.49 48 48 48h416c26.51 0 48-21.49 48-48V112c0-26.51-21.49-48-48-48zm0 48v40.805c-22.422 18.259-58.168 46.651-134.587 106.49-16.841 13.247-50.201 45.072-73.413 44.701-23.208.375-56.579-31.459-73.413-44.701C106.18 199.465 70.425 171.067 48 152.805V112h416zM48 400V214.398c22.914 18.251 55.409 43.862 104.938 82.646 21.857 17.205 60.134 55.186 103.062 54.955 42.717.231 80.509-37.199 103.053-54.947 49.528-38.783 82.032-64.401 104.947-82.653V400H48z'/%3E%3C/svg%3E");
  --icon-envelope-white: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' %3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg width='774pt' height='606pt' viewBox='0 0 774 606' version='1.1' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='%23378247ff'%3E%3C/g%3E%3Cg id='%23ffffffff'%3E%3Cpath fill='%23ffffff' opacity='1.00' d=' M 123.50 66.68 C 126.96 66.20 130.46 65.93 133.96 65.90 C 291.66 65.90 449.36 65.89 607.06 65.90 C 622.75 66.04 638.29 70.98 651.30 79.73 C 671.41 93.18 684.53 116.70 684.46 141.01 C 684.49 240.35 684.45 339.70 684.47 439.05 C 684.55 446.04 684.17 453.10 682.46 459.91 C 678.16 478.20 666.49 494.49 650.87 504.85 C 637.45 513.94 621.21 518.59 605.03 518.46 C 448.35 518.47 291.67 518.48 134.99 518.46 C 116.48 518.47 97.96 512.10 83.69 500.27 C 66.73 486.43 56.19 464.95 56.28 443.00 C 56.25 342.32 56.28 241.63 56.27 140.95 C 56.28 123.35 63.07 105.93 74.69 92.75 C 87.09 78.52 104.84 69.25 123.50 66.68 M 113.30 109.28 C 102.33 115.72 94.72 127.81 94.45 140.62 C 95.26 141.98 95.61 143.45 95.49 145.02 C 95.44 159.45 95.47 173.88 95.47 188.30 C 175.68 244.82 255.89 301.36 336.13 357.83 C 356.13 371.91 384.78 371.83 404.75 357.74 C 484.94 301.30 565.06 244.75 645.28 188.34 C 645.24 172.56 645.32 156.78 645.24 141.00 C 645.19 130.80 640.63 120.76 633.05 113.95 C 625.31 106.70 614.56 103.21 604.05 103.47 C 448.00 103.46 291.96 103.47 135.91 103.47 C 128.04 103.39 120.07 105.17 113.30 109.28 M 95.44 235.13 C 95.51 301.07 95.45 367.01 95.47 432.96 C 95.55 439.93 94.88 447.12 97.13 453.86 C 101.85 469.57 117.62 480.62 133.87 480.76 C 290.92 480.81 447.97 480.76 605.01 480.79 C 617.89 481.10 630.93 475.02 638.37 464.39 C 643.05 457.96 645.41 449.98 645.28 442.04 C 645.24 373.03 645.31 304.03 645.24 235.02 C 573.07 285.97 500.77 336.73 428.56 387.62 C 414.07 397.93 396.76 404.17 379.06 405.66 C 357.79 407.51 335.92 402.50 317.73 391.28 C 310.84 386.91 304.32 381.99 297.61 377.35 C 230.19 329.99 162.93 282.39 95.44 235.13 Z' /%3E%3C/g%3E%3C/svg%3E%0A");
  --icon-envelope-open: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg viewBox='0 0 514 514' xmlns='http://www.w3.org/2000/svg' xml:space='preserve' fill-rule='evenodd' clip-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='2'%3E%3Cpath d='M247.926 1.119c9.98-2.77 20.45-.04 29.55 4.29 17.44 8.23 32.47 20.53 47.64 32.24 20.12 14.96 40.54 29.49 60.75 44.31 34.78 25.5 69.8 50.69 103.77 77.27 4.17 3.41 8.77 6.41 12.18 10.66 7.8 8.85 11.92 20.7 11.7 32.47-.04 88.03.02 176.07-.04 264.1-.24 15.08-8.07 29.89-20.55 38.39-7.94 5.61-17.66 8.55-27.35 8.63-139.05 0-278.1 0-417.15-.01-14.48.03-28.88-6.7-37.82-18.14-6.99-8.71-10.74-19.86-10.6-31.01.01-87.61-.03-175.23.02-262.84-.09-14.39 6.64-28.67 17.98-37.56 27.59-21.95 56.09-42.71 84.47-63.6 24.85-18.18 49.74-36.32 74.66-54.41 16.14-11.49 31.1-24.65 48.18-34.77 7.06-4.28 14.58-7.95 22.61-10.02m5.98 31.84c-6.23 2.2-11.91 5.69-17.44 9.26-11.02 7.23-21.38 15.38-31.9 23.29-55.16 40.33-111.22 79.53-164.66 122.15-4.4 3.11-7.65 8.11-7.52 13.63.01 88.07-.03 176.14.02 264.21.06 8.38 7.46 15.86 15.89 15.83 139.15.04 278.3.04 417.45 0 8.92.19 16.81-8.12 16.15-17.02-.13-87.36-.27-174.71-.5-262.06.37-5.47-2.31-10.87-6.75-14.05-37.49-29.41-76.19-57.23-114.61-85.4-21.5-15.88-43.49-31.11-64.54-47.58-8.99-6.77-18.08-13.49-27.92-18.97-4.2-2.01-8.86-5.11-13.67-3.29Z' fill='%230b0c0c' fill-rule='nonzero'/%3E%3Cpath d='M76.826 256.419c4.41-.9 9.11.38 12.66 3.1 40.26 29.67 80.51 59.34 120.76 89.02 8.51 6.03 16.44 13.24 26.47 16.72 18.51 7.03 40.34 3.4 55.78-8.92 42.4-31.27 84.82-62.49 127.22-93.76 3.24-2.43 6.58-5.13 10.71-5.79 7-1.45 15.16 2.25 17.71 9.15 2.7 6.72.27 15.14-5.78 19.19-41.55 30.47-83.08 60.98-124.63 91.45-6.96 5.1-13.76 10.55-21.61 14.24-25.22 12.78-56.33 12.03-81.4-.71-8.1-3.85-15.06-9.55-22.24-14.81-41.08-30.25-82.15-60.52-123.22-90.78-6.03-4.9-7.47-14.3-3.27-20.82 2.48-3.71 6.34-6.64 10.84-7.28Z' fill='%230b0c0c' fill-rule='nonzero'/%3E%3C/svg%3E");
  --icon-exclamation-circle: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' fill='%23fff'%3E%3Cpath d='M256 40c118.621 0 216 96.075 216 216 0 119.291-96.61 216-216 216-119.244 0-216-96.562-216-216 0-119.203 96.602-216 216-216m0-32C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm-11.49 120h22.979c6.823 0 12.274 5.682 11.99 12.5l-7 168c-.268 6.428-5.556 11.5-11.99 11.5h-8.979c-6.433 0-11.722-5.073-11.99-11.5l-7-168c-.283-6.818 5.167-12.5 11.99-12.5zM256 340c-15.464 0-28 12.536-28 28s12.536 28 28 28 28-12.536 28-28-12.536-28-28-28z'/%3E%3C/svg%3E");
  --icon-facebook: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512' fill='%230b0c0c'%3E%3Cpath d='M400 32H48A48 48 0 0 0 0 80v352a48 48 0 0 0 48 48h137.25V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.27c-30.81 0-40.42 19.12-40.42 38.73V256h68.78l-11 71.69h-57.78V480H400a48 48 0 0 0 48-48V80a48 48 0 0 0-48-48z'/%3E%3C/svg%3E");
  --icon-info-circle: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' fill='%23fff'%3E%3Cpath d='M256 40c118.621 0 216 96.075 216 216 0 119.291-96.61 216-216 216-119.244 0-216-96.562-216-216 0-119.203 96.602-216 216-216m0-32C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm-36 344h12V232h-12c-6.627 0-12-5.373-12-12v-8c0-6.627 5.373-12 12-12h48c6.627 0 12 5.373 12 12v140h12c6.627 0 12 5.373 12 12v8c0 6.627-5.373 12-12 12h-72c-6.627 0-12-5.373-12-12v-8c0-6.627 5.373-12 12-12zm36-240c-17.673 0-32 14.327-32 32s14.327 32 32 32 32-14.327 32-32-14.327-32-32-32z'/%3E%3C/svg%3E");
  --icon-link: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M314.222 197.78c51.091 51.091 54.377 132.287 9.75 187.16-6.242 7.73-2.784 3.865-84.94 86.02-54.696 54.696-143.266 54.745-197.99 0-54.711-54.69-54.734-143.255 0-197.99 32.773-32.773 51.835-51.899 63.409-63.457 7.463-7.452 20.331-2.354 20.486 8.192a173.31 173.31 0 0 0 4.746 37.828c.966 4.029-.272 8.269-3.202 11.198L80.632 312.57c-32.755 32.775-32.887 85.892 0 118.8 32.775 32.755 85.892 32.887 118.8 0l75.19-75.2c32.718-32.725 32.777-86.013 0-118.79a83.722 83.722 0 0 0-22.814-16.229c-4.623-2.233-7.182-7.25-6.561-12.346 1.356-11.122 6.296-21.885 14.815-30.405l4.375-4.375c3.625-3.626 9.177-4.594 13.76-2.294 12.999 6.524 25.187 15.211 36.025 26.049zM470.958 41.04c-54.724-54.745-143.294-54.696-197.99 0-82.156 82.156-78.698 78.29-84.94 86.02-44.627 54.873-41.341 136.069 9.75 187.16 10.838 10.838 23.026 19.525 36.025 26.049 4.582 2.3 10.134 1.331 13.76-2.294l4.375-4.375c8.52-8.519 13.459-19.283 14.815-30.405.621-5.096-1.938-10.113-6.561-12.346a83.706 83.706 0 0 1-22.814-16.229c-32.777-32.777-32.718-86.065 0-118.79l75.19-75.2c32.908-32.887 86.025-32.755 118.8 0 32.887 32.908 32.755 86.025 0 118.8l-45.848 45.84c-2.93 2.929-4.168 7.169-3.202 11.198a173.31 173.31 0 0 1 4.746 37.828c.155 10.546 13.023 15.644 20.486 8.192 11.574-11.558 30.636-30.684 63.409-63.457 54.733-54.735 54.71-143.3-.001-197.991z'/%3E%3C/svg%3E");
  --icon-map-marker-alt: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3E%3Cpath d='M192 0C85.903 0 0 86.014 0 192c0 71.117 23.991 93.341 151.271 297.424 18.785 30.119 62.694 30.083 81.457 0C360.075 285.234 384 263.103 384 192 384 85.903 297.986 0 192 0zm0 464C64.576 259.686 48 246.788 48 192c0-79.529 64.471-144 144-144s144 64.471 144 144c0 54.553-15.166 65.425-144 272zm-80-272c0-44.183 35.817-80 80-80s80 35.817 80 80-35.817 80-80 80-80-35.817-80-80z'/%3E%3C/svg%3E");
  --icon-minicom: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M256.015.004zm248.687 159.27l-37.058 59.291c-12.314 19.701-36.965 27.752-58.53 19.125l-74.42-29.769c-19.855-7.943-32.062-28.062-29.935-49.341l2.606-26.073c-36.57-9.118-67.361-8.82-102.729 0l2.607 26.072c2.128 21.28-10.079 41.401-29.936 49.344l-74.422 29.768c-21.579 8.631-46.225.56-58.53-19.127L7.297 159.272c-11.876-19.002-9.025-43.693 6.869-59.488 133.558-132.722 349.459-133.369 483.668.001 15.894 15.795 18.745 40.487 6.868 59.489zm-40.701-25.441c-115.216-114.495-300.899-114.381-416-.001l37.059 59.292 74.422-29.768-6.505-65.044c75.782-27.384 130.31-27.367 206.046 0l-6.502 65.043 74.42 29.769 37.06-59.291zM126 430H98c-6.627 0-12-5.373-12-12v-28c0-6.627 5.373-12 12-12h28c6.627 0 12 5.373 12 12v28c0 6.627-5.373 12-12 12zm96 0h-28c-6.627 0-12-5.373-12-12v-28c0-6.627 5.373-12 12-12h28c6.627 0 12 5.373 12 12v28c0 6.627-5.373 12-12 12zm96 0h-28c-6.627 0-12-5.373-12-12v-28c0-6.627 5.373-12 12-12h28c6.627 0 12 5.373 12 12v28c0 6.627-5.373 12-12 12zm96 0h-28c-6.627 0-12-5.373-12-12v-28c0-6.627 5.373-12 12-12h28c6.627 0 12 5.373 12 12v28c0 6.627-5.373 12-12 12zM78 512H50c-6.627 0-12-5.373-12-12v-28c0-6.627 5.373-12 12-12h28c6.627 0 12 5.373 12 12v28c0 6.627-5.373 12-12 12zm384 0h-28c-6.627 0-12-5.373-12-12v-28c0-6.627 5.373-12 12-12h28c6.627 0 12 5.373 12 12v28c0 6.627-5.373 12-12 12zM78 348H50c-6.627 0-12-5.373-12-12v-28c0-6.627 5.373-12 12-12h28c6.627 0 12 5.373 12 12v28c0 6.627-5.373 12-12 12zm96 0h-28c-6.627 0-12-5.373-12-12v-28c0-6.627 5.373-12 12-12h28c6.627 0 12 5.373 12 12v28c0 6.627-5.373 12-12 12zm96 0h-28c-6.627 0-12-5.373-12-12v-28c0-6.627 5.373-12 12-12h28c6.627 0 12 5.373 12 12v28c0 6.627-5.373 12-12 12zm96 0h-28c-6.627 0-12-5.373-12-12v-28c0-6.627 5.373-12 12-12h28c6.627 0 12 5.373 12 12v28c0 6.627-5.373 12-12 12zm96 0h-28c-6.627 0-12-5.373-12-12v-28c0-6.627 5.373-12 12-12h28c6.627 0 12 5.373 12 12v28c0 6.627-5.373 12-12 12zm-98 158H148c-6.627 0-12-5.373-12-12v-16c0-6.627 5.373-12 12-12h216c6.627 0 12 5.373 12 12v16c0 6.627-5.373 12-12 12z'/%3E%3C/svg%3E");
  --icon-phone: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cg transform='matrix(6.12323e-17,1,-1,6.12323e-17,511.994,-2.84217e-14)'%3E%3Cpath d='M487.8,24.1L387,0.8C372.3,-2.6 357.2,5 351.2,18.9L304.7,127.4C299.2,140.1 302.9,155.1 313.6,163.9L367.5,208C333.5,277.2 277.2,333.6 207.9,367.6L163.8,313.7C155,303 140,299.3 127.3,304.8L18.9,351.3C5,357.3 -2.6,372.3 0.8,387L24,487.7C27.3,502 39.9,512 54.5,512C306.7,512 512,307.8 512,54.5C512,39.9 502,27.3 487.8,24.1ZM55.1,480L32.1,380.4L139.5,334.4L199,407.2C302.6,358.6 358.7,302.3 407.1,199.1L334.3,139.6L380.3,32.2L479.9,55.2C479.7,289.7 289.6,479.7 55.1,480Z'/%3E%3C/g%3E%3C/svg%3E");
  --icon-search: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' fill='%23fff'%3E%3Cpath d='M508.5 481.6l-129-129c-2.3-2.3-5.3-3.5-8.5-3.5h-10.3C395 312 416 262.5 416 208 416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c54.5 0 104-21 141.1-55.2V371c0 3.2 1.3 6.2 3.5 8.5l129 129c4.7 4.7 12.3 4.7 17 0l9.9-9.9c4.7-4.7 4.7-12.3 0-17zM208 384c-97.3 0-176-78.7-176-176S110.7 32 208 32s176 78.7 176 176-78.7 176-176 176z'/%3E%3C/svg%3E");
  --icon-twitter: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512' fill='%230b0c0c'%3E%3Cpath d='M400 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48zm-48.9 158.8c.2 2.8.2 5.7.2 8.5 0 86.7-66 186.6-186.6 186.6-37.2 0-71.7-10.8-100.7-29.4 5.3.6 10.4.8 15.8.8 30.7 0 58.9-10.4 81.4-28-28.8-.6-53-19.5-61.3-45.5 10.1 1.5 19.2 1.5 29.6-1.2-30-6.1-52.5-32.5-52.5-64.4v-.8c8.7 4.9 18.9 7.9 29.6 8.3a65.447 65.447 0 0 1-29.2-54.6c0-12.2 3.2-23.4 8.9-33.1 32.3 39.8 80.8 65.8 135.2 68.6-9.3-44.5 24-80.6 64-80.6 18.9 0 35.9 7.9 47.9 20.7 14.8-2.8 29-8.3 41.6-15.8-4.9 15.2-15.2 28-28.8 36.1 13.2-1.4 26-5.1 37.8-10.2-8.9 13.1-20.1 24.7-32.9 34z'/%3E%3C/svg%3E");
  --icon-user-friends: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 512' width='640' height='512'%3E%3Cpath fill='%23ffffff' d='M480 256c53 0 96-43 96-96s-43-96-96-96-96 43-96 96 43 96 96 96zm0-144c26.5 0 48 21.5 48 48s-21.5 48-48 48-48-21.5-48-48 21.5-48 48-48zM272.1 276c-11.9 0-23.9 1.7-35.5 5.3-14.2 4.3-29.1 6.7-44.7 6.7s-30.5-2.4-44.7-6.7c-11.6-3.5-23.6-5.3-35.5-5.3-36.3 0-71.6 16.2-92.3 46.9C7.2 341.3 0 363.4 0 387.2V432c0 26.5 21.5 48 48 48h288c26.5 0 48-21.5 48-48v-44.8c0-23.8-7.2-45.9-19.6-64.3-20.7-30.7-56-46.9-92.3-46.9zM336 432H48v-44.8c0-28.9 18.4-53.6 44.1-63.1 10.3-3.8 21.6-3.7 31.9 0 22.1 7.9 45 11.9 68 11.9s45.8-4 68.1-11.9c10.3-3.7 21.6-3.8 31.9 0 25.7 9.4 44.1 34.2 44.1 63.1V432zM192 256c61.9 0 112-50.1 112-112S253.9 32 192 32 80 82.1 80 144s50.1 112 112 112zm0-176c35.3 0 64 28.7 64 64s-28.7 64-64 64-64-28.7-64-64 28.7-64 64-64zm431.7 237.1C606.4 291.5 577 278 546.8 278c-27.8 0-34.8 10-66.8 10s-39-10-66.8-10c-13.3 0-26.2 3-38.2 8.1 5.8 5.9 11.3 12 16 18.9 4.7 7 8.6 14.4 12 22 3.3-.7 6.7-1.1 10.2-1.1 17.2 0 29.6 10 66.8 10 37.4 0 49.5-10 66.8-10 15.7 0 29.5 6.7 37.1 17.9 5.3 7.9 8.1 17.1 8.1 26.7V400H416v32c0 5.5-.6 10.8-1.6 16H600c22.1 0 40-17.9 40-40v-37.3c0-19.9-6-38.3-16.3-53.6z'/%3E%3C/svg%3E");
  --icon-warning-circle: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg viewBox='0 0 512 512' xmlns='http://www.w3.org/2000/svg' xml:space='preserve' fill-rule='evenodd' clip-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='2'%3E%3Cpath d='M256 512c140.437 0 256-115.563 256-256S396.437 0 256 0 0 115.563 0 256s115.563 256 256 256Zm0-394c13.3 0 24 .7 24 14v132c0 13.3-10.7 24-24 24s-24-10.7-24-24V132c0-13.3 10.7-14 24-14Zm-32 234c0-17.555 14.445-32 32-32s32 14.445 32 32-14.445 32-32 32-32-14.445-32-32Z' fill='%23fff' fill-rule='nonzero' stroke='%23fff'/%3E%3C/svg%3E");

  --input-padding-horizontal: 0.6875rem;
  --input-padding-vertical: 0.6875rem;
  --page-title-border: none;
  --page-title-lede-font-size: 1.375rem;
  --page-title-width: 62rem;
  --secondary-menu-bg-color: var(--color-white);
  --section-spacing-horizontal-secondary-menu: 0;
  --section-spacing-vertical-header: 0.625rem;
  --sidebar-exposed-form-bg-color: var(--color-white);
  --sidebar-exposed-form-padding-horizontal: 1rem;
  --sidebar-exposed-form-padding-vertical: 0;
  --step-by-step-part-of-color: var(--color-black);

  /* Alert Banner */
  --alert-banner-bg-color: var(--color-teal); /* Announcement */
  --alert-banner-bg-color-notable-person: var(--color-black);
  --alert-banner-color: var(--color-white);

  /* Service Statuses */
  --service-statuses-container-bg-color: var(--color-teal);
  --service-statuses-list-border-color: var(--color-gray);
  --service-statuses-padding: 0.75rem;
}
