{#
/**
 * @file localgov_alert_banner.html.twig
 * Default theme implementation to present Alert banner data.
 *
 * This template is used when viewing Alert banner pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 * - display_title: Boolean indicating if alert banner title should be displayed
 * - remove_hide_link: Boolean indicating if the link to close the banner should be hidden
 * - type_of_alert: Type of alert banner
 *
 * @see template_preprocess_localgov_alert_banner()
 *
 * @ingroup themeable
 */
#}

{{ attach_library('localgov_alert_banner/alert_banner') }}

{% set has_link = content.link|render is not empty %}
{% set type_of_alert =  type_of_alert|split('--')[1]|clean_class %}
{% set classes = [
    'js-localgov-alert-banner',
    'localgov-alert-banner',
    type_of_alert ? 'localgov-alert-banner--' ~ type_of_alert,
    is_front ? 'localgov-alert-banner--homepage',
    has_link ? 'localgov-alert-banner--has-link' : 'localgov-alert-banner--no-link'
  ]
%}
{#
  LGD alert banner module can return either a rendered link, or a Drupal link object, depending on whether a link
  title is set. We need to extract the link URL in all cases, since we make no use of the link title:
#}
{% if has_link %}
  {% if content.link[0]['#url'] is empty%}
    {% set link_html = content.link|split('"') %}
    {% set link_url = link_html[1] %}
  {% else %}
    {% set link_url = content.link[0]['#url'] %}
  {% endif %}
{% endif %}

<article role="region" aria-label="Notifications" {{ attributes.addClass(classes) }}>
  {# Begin Wrapper #}
  <div class="localgov-alert-banner__wrapper">
    {# Begin Inner #}
    <div class="localgov-alert-banner__inner">
      {# Begin Content #}
      <div class="localgov-alert-banner__content">
        {% if display_title %}
          <h2 class="localgov-alert-banner__title">
            {% if has_link %}
              <a href="{{ link_url }}">
            {% endif %}
            {{ content.title.0 }}{% if has_link %}</a>{% endif %}
          </h2>
        {% endif %}

        {{ content|without('title', 'link') }}

      </div> {# End Content #}

    </div> {# End Inner #}
  </div> {# End Wrapper #}
</article>
