{#
/**
 * @file
 *   Wrap list of featured news teasers.
 */
#}
{%
  set title_classes = [
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}

{% set featured_news_items %}
  <div>
    {% for item in items %}
      <div>
        {{ item.content }}
      </div>
    {% endfor %}
  </div>
{% endset %}

{% if label_hidden %}
  <div{{ attributes.addClass('newsroom__featured-news') }}>
    {{ featured_news_items }}
  </div>
  {% else %}
    <div{{ attributes }}>
      <div{{ title_attributes.addClass(title_classes) }}>{{ label }}</div>
        <div class="newsroom__featured-news">
          {{ featured_news_items }}
        </div>
    </div>
{% endif %}
