{# Attach libraries #}
{% if not localgov_base_remove_js %}
	{{ attach_library('localgov_base/header-js') }}
{% endif %}

<header class="lgd-header">
	<div class="lgd-container padding-horizontal">
		<div class="lgd-row">
			<div class="lgd-row__full">
				<div class="lgd-header__inner">

					{{ page.header }}

          {% if has_primary_menu or has_search or has_secondary_menu %}
						{#
							The "Header Toggles" section sets a number of buttons to activate
							- the primary menu/search regions on small screens, and
							- the secondary region on all screen sizes (region where we expect
								the services menu will be positioned).
						#}
						<div class="lgd-header__toggles">

							{% if has_primary_menu or has_search %}
								<button
									class="lgd-header__toggle lgd-header__toggle--primary"
									data-target="lgd-header__nav--primary"
									aria-controls="lgd-header__nav--primary"
									aria-expanded="false"
									aria-label="{{ 'Toggle Primary Navigation'|t }}"
								>
									Menu
									<span class="lgd-header__toggle-icon lgd-header__toggle-icon--primary">
										<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" fill="#fff"><path d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z"/></svg>
									</span>
								</button>
							{% endif %}
						</div>

						{% if has_primary_menu or has_search %}
							<div id="lgd-header__nav--primary" class="lgd-header__nav lgd-header__nav--primary">
								{% if has_primary_menu %}
									{{ page.primary_menu }}
								{% endif %}

								{% if has_search %}
									{{ page.search }}
								{% endif %}
							</div>
						{% endif %}

          {% endif %}

				</div>
			</div>
		</div>
	</div>
</header>
{% if has_secondary_menu %}
<div class="secondary-menu-container">
  <div class="lgd-container padding-horizontal">
    <div id="lgd-header__nav--secondary" class="lgd-header__nav lgd-header__nav--secondary">
      {{ page.secondary_menu }}
    </div>
  </div>
</div>
{% endif %}
