{#
/**
* @file
* LocalGovDrupal theme implementation to display a single page.
*
* The doctype, html, head and body tags are not in this template. Instead they
* can be found in the html.html.twig template in this directory.
*
* Available variables:
*
* General utility variables:
* - base_path: The base URL path of the Drupal installation. Will usually be
*   "/" unless you have installed Drupal in a sub-directory.
* - is_front: A flag indicating if the current page is the front page.
* - logged_in: A flag indicating if the user is registered and signed in.
* - is_admin: A flag indicating if the user has permission to access
*   administration pages.
* - has_sidebar_first: Can we expect any content in the first sidebar?
* - has_sidebar_second: See above.
*
* Site identity:
* - front_page: The URL of the front page. Use this instead of base_path when
*   linking to the front page. This includes the language domain or prefix.
*
* Page content (in order of occurrence in the default page.html.twig):
* - messages: Status and error messages. Should be displayed prominently.
* - node: Fully loaded node, if there is an automatically-loaded node
*   associated with the page and the node ID is the second argument in the
*   page's path (e.g. node/12345 and node/12345/revisions, but not
*   comment/reply/12345).
*
* Regions:
* - page.header
* - page.search
* - page.mobile_search
* - page.primary_menu
* - page.secondary_menu
* - page.banner
* - page.breadcrumb
* - page.messages
* - page.content_top
* - page.content
* - page.content_bottom
* - page.sidebar_first
* - page.sidebar_second
* - page.disabled
* @see template_preprocess_page()
* @see html.html.twig
*
* @ingroup themeable
*/
#}

{#
We create a dedicated tabs region and place it at the top of the page.
This is to make sure tabs don't interfere with any other content, but
especially to make sure other content doesn't interfere with tabs (which)
can often happen if `position: absolute` further down the page, causing
content to cover tabs and other issues.

Taking this approach also means we can have consistent styling for the
tabs region on all localgov_drupal websites. Yay!
#}
{% if has_tabs %}
  {{ page.tabs }}
{% endif %}

{% if has_pre_header %}
  {{ page.pre_header }}
{% endif %}

{% block header %}
  {% include "@localgov_cumbria_unitary/layout/header.html.twig" with {'page': page} %}
{% endblock %}

{% if has_banner %}
  {{ page.banner }}
{% endif %}

{% if has_breadcrumb %}
  {{ page.breadcrumb }}
{% endif %}

{% if has_messages %}
  {{ page.messages }}
{% endif %}

<main class="main" id="main-content"> {# The "skip to content" link jumps to here. #}

  {% if has_content_top %}
    {{ page.content_top }}
  {% endif %}

  <div class="lgd-container">
    <div class="lgd-row">

      {# Begin Sidebars #}
      {% if has_sidebars %}
        {% if has_sidebar_first and not has_sidebar_second %}
          <aside class="lgd-row__one-third sidebar sidebar--first">
            {{ page.sidebar_first }}
          </aside>
          <div class="lgd-row__two-thirds">
            <div class="padding-horizontal">
              {% block page_content page.content %}
            </div>
          </div>
        {% endif %}

        {% if has_sidebar_second and not has_sidebar_first %}
          <div class="lgd-row__two-thirds">
            <div class="padding-horizontal">
              {{ block('page_content') }}
            </div>
          </div>
          <aside class="lgd-row__one-third sidebar sidebar--second">
            {{ page.sidebar_second }}
          </aside>
        {% endif %}

        {% if has_sidebar_first and has_sidebar_second %}
          <aside class="lgd-row__one-quarter sidebar sidebar--first">
            {{ page.sidebar_first }}
          </aside>
          <div class="lgd-row__one-half">
            <div class="padding-horizontal">
              {{ block('page_content') }}
            </div>
          </div>
          <aside class="lgd-row__one-quarter sidebar sidebar--second">
            {{ page.sidebar_second }}
          </aside>
        {% endif %}

      {% else %}
        {# If there are no sidebars, the content region take up 100% of the space #}
        <div class="lgd-row__full">
          <div class="padding-horizontal">
            {{ block('page_content') }}
          </div>
        </div>
      {% endif %}
      {# End Sidebars #}

    </div>
  </div>

  {% if has_content_bottom %}
    {{ page.content_bottom }}
  {% endif %}
</main>

{# Begin Footer Regions #}
{% block footer_sections %}
  {#
  Wrap all of the "lgd-footers" in a `footer` element for semantics.
  This should ensure that all the contact/housekeeping links/etc
  are within the footer element to assist screenreaders and other
  automated tools.
  #}
  <footer class="lgd-footer">

    {# Begin Pre-footer #}
    {% block pre_footer %}
      <div class="lgd-footer__pre-footer feedback js-toggle-container" id="feedback">
        <div class="lgd-container">
          <div class="lgd-row">
            <div class="lgd-row__full feedback-show">
              <p><span class="feedback-show__badge">New</span> Help improve this site by giving feedback.</p>
              <button class="feedback-show__button js-toggle-disclosure" aria-controls="form__feedback" aria-expanded="false" aria-label="Show feedback form">Show
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" fill="#fff"><path d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z"/></svg>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="lgd-container">
        <div class="lgd-row">
          <div class="lgd-row__full feedback__form inactive js-toggle-container" id="form__feedback">
            <div class="feedback__content">
              <div>
                {% block feedback_form_heading %}
                {% endblock %}
              </div>
              <button class="feedback-close__button js-toggle-disclosure" aria-controls="feedback" aria-label="{{ 'Hide feedback form'|t }}">{{ 'Close'|t }} <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M207.6 256l107.72-107.72c6.23-6.23 6.23-16.34 0-22.58l-25.03-25.03c-6.23-6.23-16.34-6.23-22.58 0L160 208.4 52.28 100.68c-6.23-6.23-16.34-6.23-22.58 0L4.68 125.7c-6.23 6.23-6.23 16.34 0 22.58L112.4 256 4.68 363.72c-6.23 6.23-6.23 16.34 0 22.58l25.03 25.03c6.23 6.23 16.34 6.23 22.58 0L160 303.6l107.72 107.72c6.23 6.23 16.34 6.23 22.58 0l25.03-25.03c6.23-6.23 6.23-16.34 0-22.58L207.6 256z"/></svg></button>
            </div>
            <div class="lgd-row">
              <div class="lgd-row__two-thirds">
                <div class="feedback__form-container">
                  {% block feedback_form_content %}
                  {% endblock %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endblock %}
    {# End Pre-footer #}

    {# Begin Footer #}
    {% block footer %}
      <div class="lgd-footer__footer">
        <div class="lgd-container">
          <div class="lgd-row">
            {% block cumbria_footer %}
            {% endblock %}
          </div>
        </div>
      </div>
    {% endblock %}
    {# End Footer #}

  </footer>
{% endblock %}
{# End Footer Regions #}
